<h1>Introduzione al corso</h1>
<p>Lo scopo del corso è di introdurre gli elementi di base di un sistema operativo, in particolare in un sistema operatuvo UNIX-Like e approfondire i concetti e le tecnica di programmazione concorrente.</p>
<p>Tra i prerequisiti del corso ricordiamo:</p>
<ul>
<li>conoscenza della sintassi del linguaggio C;</li>
<li>capacità di risolvere problemi di media complessità tramite la scrittura di programmi;</li>
<li>struttura di un processore (corso di CE), organizzazione della memoria, tipi di dato;</li>
<li>meccanismo di interruzione e trap.</li>
</ul>
<p>Argomenti principali:</p>
<ul>
<li>File System: file, direttori, dischi;</li>
<li>Processi: basi, controllo, segnali, pipe;</li>
<li>Thread: basi, libreria pthread, etc.;</li>
<li>scincronizzazione: s/w, h/w, semafori, etc.;</li>
<li>ambiente UNIX/Linux (o UNIX-Like).</li>
</ul>
