<h1>Introduzione ai sistemi (roba che già sappiamo)</h1>
<p>Conosciamo già i concetti fondamentali, ma li ripetiamo perché non fa mai male.
<strong>Hardware</strong> la parte del computer che fornisce le risorse di elaborazione (CPU, memoria, periferica per I/O).
<strong>Sistema Operativo</strong> controlla e coordina l'uso dell'hardware da parte dei programmi applicativi.
<strong>Programma applicativo</strong> software che offrw un servizio agli utenti (compilatori, DB, office automation, giochi, ecc...).</p>
<p>Possiamo infatti pensare al sistema come un layer che si interpone tra l'hardware e i programmi. Questo non dovrebbe essere nuovo.</p>
<p>In particolare, del sistema operativo [SO], ricordiamo l'esistenza del <em>kernel</em> e della <em>shell</em>.</p>
<p>Anche se non è parte dei prerequisiti, sappiamo da APA, che i programmi interagiscono con il kernel attraverso le <em>system call</em> — di cui parleremo in seguito.</p>
<p>Il SO si può vedere essenzialmente in due modi:</p>
<ul>
<li><strong>macchina virtuale o estesa</strong>: un layer che permette di astrarre la gestione delle risorse hardware e software nonché la gestione dei dati. Per esempio, non importa che si voglia scrivere un file su una chiavetta o su un disco SSD, purché questi sia collegato al computer, penserà il SO a gestire l'I/O verso la periferica; il programmatore potrà comodamente usare le funzioni (già note) printf/scanf o simili senza preoccuparsi dell'hardware.</li>
<li><strong>gestore delle risorse disponibili</strong>: si può vedere un SO anche come un programma (o meglio, un insieme di programmi) che controlla l'esecuzione dei programmi e le operazioni verso le periferiché.</li>
</ul>
<h2>La shell</h2>
<p>Per comunicare con il SO non si può parlare come si farebbe con un essere umano, dobbiamo sporcarci le mani. L'utente e il SO comunicano attraverso un interfaccia che può essere testuale o grafica. L'interfaccia testuale si chiama <em>shell</em>, in italiano «terminale». Attraverso la shell l'utente può impartire comandi al SO. Un comando è dormalmente caratterizzato da un nome e da un elenco di parametri. Per esempio, se un un sistema UNIX-Like volessimo visualizzare il contenuto di un file di testo, dovremmo impartire il comando</p>
<pre><code class="language-bash">cat pippo.txt 
</code></pre>
<p>dove <code>cat</code> è il nome del comando e <code>pippo.txt</code> è un parametro che indica il nome del file da visualizzare. Quello mostrato è un comando semplice, i comandi possono avere innumerevoli parametri ed essere molto più complicati. Un comando &quot;normale&quot; per esempio può essere simile a questo:</p>
<pre><code class="language-bash">iptables -A INPUT -i eth0 -p tcp --dport 22 -m state --state NEW,ESTABLISHED -j ACCEPT
</code></pre>
<h2>Comandi forniti tipicamente da un SO</h2>
<ul>
<li>gestire i processi;</li>
<li>gestire la memoria principale (RAM) e secondaria (HHD, SSD, Pen Drive, Nastri, ecc...);</li>
<li>instaurare politiche di protezione (il comando mostrato prima, per esempio, serve per configurare un firewall);</li>
<li>gestire la rete e le connessioni esterne.</li>
</ul>
<h2>Cos'è un processo?</h2>
<p>Un pocesso (unità attiva) è un programma (unità passiva) in esecuzione. Per essere eseguito, un processo richiede risorse quali la CPU, la memoria, le periferiche, ecc. Compito del SO è creare, sostenere e cancellare un processo nonché fornire i meccanismi di comunicazione e sincronizzazione tra processi diversi.
Definiamo <strong>concorrenza</strong> la situazione in cui più processi sono eseguiti simultaneamente. Le citate operazioni di comunicazione e sincronizzazione si rendono necessarie quando due o più processi sono concorrenti ed è necessario che condividano le risorse in modo sicuro.
<strong>Oss</strong> ogni processo ha almeno due risorse &quot;da dividere&quot; con i processi concorrenti: la CPU e la memoria principale.</p>
<h2>Gestione del File System</h2>
<p>La gestione del File System [FS] è uno dei moduli più importanti del SO, in quanto senza di essa non sarebbe possibile leggere e scrivere file. In generale ricordiamo che (corsi di APA, CE, Informatica):</p>
<ul>
<li>le informazioni in memoria secondaria/di massa sono organizzate in uno o più FS;</li>
<li>il SO deve permettere di:
<ul>
<li>creare, leggere, scrivere, cancellare file e cartelle (o directory, o direttori);</li>
<li>instaurare opportuni meccanismi di protezione e sicurezza da attacchi sia esterni, sia interni;</li>
<li>ottimizzare le operazioni di R/W.</li>
</ul>
</li>
</ul>
<h2>Terminologia e concetti di base</h2>
<ul>
<li>kernel, bootstrap, system-call;</li>
<li>login, shell;</li>
<li>file-system, file-name, path-name, home directory, root directory, working directory;</li>
<li>programma, processo, thread;</li>
<li>pipe;</li>
<li>deadlock, livelock, starvation, polling (busy waiting).</li>
</ul>
<h3>Kernel</h3>
<p>E' la parte centrale di un SO.</p>
<ul>
<li><strong>Gestisce le risorse</strong>: gestisce in particolare memoria e processori; è l'unico programma in sempre in esecuzione.</li>
<li>In generale <strong>ne esistono diversi tipi</strong>:
<ul>
<li>a livelli (o stratificati);</li>
<li>micro-kernel, i quali forniscono solo funzionalità di base;</li>
<li>kernel monolitici (organizzazione più comune).</li>
</ul>
</li>
</ul>
<p>Al kernel ci si interfaccia attraverso le system-call.</p>
<h3>System Call</h3>
<p>Le System-Call sono un'interfaccia ai servizi forniti dal SO:</p>
<ul>
<li>spesso sono implementate in <em>assembly</em>;</li>
<li>spesso vi si accede tramite <em>Application Program Interface</em> [API] di alto livello (v. printf, scanf, malloc, free, system e compagnia cantante):
<ul>
<li>Win32/64 API (per Windows);</li>
<li>POSIX API (per UNIX, Linux, MacOS X);</li>
<li>Java API (per la JVM);</li>
</ul>
</li>
</ul>
<p><strong>Quante System-Call esistono per un SO?</strong></p>
<ul>
<li>UNIX 4.4BSD: ~110;</li>
<li>Linux: 240÷260;</li>
<li>Unix FreeBSD: ~320.</li>
</ul>
<p><strong>Qual è la differenza tra un System-Call e una funzione?</strong>
La domanda sorge spontanea e la risposta è che la differenza è molto sottile:</p>
<ul>
<li>entrambe forniscono un servizio all'utente;</li>
<li>per ogni system-call esistone (generalmente) più funzioni di alto livello (e.g. printf, putc);</li>
<li>a parità di SO le funzioni possono essere modificate, le system-call no;</li>
<li>le system-call forniscono usualmente funzionalità base, mentre le funzioni di libreria risultano maggiormente elaborate.</li>
</ul>
<p>Queste sono chiaramente differenze concettuali, poco tecniche. Esiste una differenza fondamentale, più profonda tra &quot;funzione&quot; e &quot;system-call&quot;: il SO si protegge lavorando in <em>dual-mode</em>: gli utenti lavorano in modalità utente (bit di modo = 1) e ogni system-call causa il passaggio in modalità kernel (bit di modo = 0). Le chiamate sono usualmente effettuate attraverso una interruzione software, <em>trap</em>, che attiva il codice della system-call richiamata.</p>
<p>Vediamo un esempio di funzione che in realtà è una system-call nella versione UNIX e nella versione Windows:</p>
<pre><code class="language-c">int read (int fd, void *buffer, size_t nbytes); // UNIX
</code></pre>
<pre><code class="language-c">BOOL ReadFile ( // Windows 
    HANDLE fileHandle, 
    LPVOID dataBuffer, 
    DWORD numberOfByteToRead, 
    LPDWORD numberOfByteRead, 
    LPOVERLAPPED overlappedDataStructure 
); 
</code></pre>
<p>abbiamo qui due system-call molto diverse che servono per fare la stessa cosa: leggere byte da un file. Tuttavia, anche se le system-call fanno la stessa cosa, funzionano in modo molto diverso.</p>
<p>Quando si vuole seguire una system-call, <strong>i parametri vanno inseriti nello stack</strong> ed <strong>è necessario richiederne l'esecuzione al SO specificandone il codice</strong>. Nota bene: <em>specificandone il codice</em>, non l'indirizzo, come si farebbe con una normale funzione. Quando la system-call viene eseguita <strong>il programma passa in kernel-mode</strong> (o root-mode, monitor-mod, superuser-mode, a seconda della terminologia che si vuole adottare, tutte le espressioni sono equivalenti); terminata l'esecuzione, il programma torna in user-mode.</p>
<p><strong>Alcune System-Call dei sistemi UNIX-Like (POSIX API)</strong>:</p>
<ul>
<li>le funzioni <code>printf</code> [<code>scanf</code>] utilizzano delle System-Call per scrivere [leggere] effetivamente i dati;</li>
<li>le funzioni di gestione della memoria <code>malloc</code>, <code>free</code>, <code>new</code>, <code>delete</code> e <code>delete[]</code> usano delle System-Call per allocare e deallocare effettivamente la memoria;</li>
<li>le funzioni di gestione della data e dell'ora, generalmente esse sono implementate mediante l'utilizzo di un'unica System-Call chiamata <code>time()</code> che quando invocata fornisce il numero di secondi trascorsi tra il 01/01/1970 e il momendo dell'invocazione;</li>
<li>gestione dei processi: <code>fork</code>, <code>wait</code>, <code>exec</code>, <code>exit</code>, <code>kill</code>;</li>
<li>gestione dei file: <code>open</code>, <code>close</code>, <code>read</code>, <code>lseek</code>, <code>stat</code>;</li>
<li>gestione direttori: <code>mkdir</code>, <code>rmdir</code>, <code>link</code>, <code>unlink</code>, <code>mount</code>, <code>unmount</code>, <code>chdir</code>, <code>chmod</code>.</li>
</ul>
<h3>Login</h3>
<p>Molti SO permettono l'utilizzo della macchina in modalità multiutente. Dunque per eseguire qualciasi operazione è necessario effetuare l'accesso alla macchina specificando uno username (obbligatorio) e una password (facoltativa). L'utente delle operazioni in kernel-mode sui sistemi UNIX si chiama <strong>root</strong>. Gli utenti e le password dei sistemi UNIX-Like sono usualmente codificate nel file <code>/etc/passwd</code>.</p>
<h3>File System</h3>
<p>Senza stare a spiegare cosa siano i file (vedi corso di Informatica), diciamo solo che il FS è una struttura ad albero multilivello. Gli elementi presenti nel FS sono i file e i direttori (o cartelle). Un file è - nella sua definizione più semplice - un archivio di dati; un direttorio è invece un contenitore che può contenere divresi elementi del FS (sia file che direttori). Il FS ha inizio nel direttorio <strong>root</strong>, indicato con <code>/</code> nei sistemi UNIX-Like o con <code>/</code> nei sistemi NT. A ogni utente è assegnato un direttorio, ogni volta che l'utente effettuerà il login, si troverà nel suo direttorio.
Se un file &quot;pippo.txt&quot; è contenuto nel direttorio &quot;pippo&quot; a sua volta parte del direttorio &quot;home&quot; che si trova nel direttorio root, il file verrà indicato con il <strong>path</strong> <code>/home/pippo/pippo.txt</code>.
Ogni elemento del FS è caratterizzato da delle proprietà:</p>
<ul>
<li>l'<strong>utente proprietario</strong>;</li>
<li>il <strong>gruppo proprietario</strong>: gli utenti possono essere raggruppati e dunque un elemento del FS ha come proprietà il gruppo di utenti di appartenenza;</li>
<li>i <strong>permessi</strong> di <em>lettura</em> [r], <em>scrittura</em> [w] ed <em>esecuzione</em> [x] che possono essere impostati per l'utente proprietario del file o direttorio, per il gruppo e per gli altri utenti (né proprietari, né parte del gruppo). Per capirci:
<ul>
<li>eseguire un file è possibile solo se il file è un programma o uno script;</li>
<li>eseguire un direttorio significa leggerne il contenuto (ovvero: eseguire una cartella significa aprirla);</li>
</ul>
</li>
</ul>
<p>Definiamo &quot;direttorio di lavoro&quot;, o working directory, la cartella in cui l'utente si trova in un dato momento.</p>
<p>Se un path comincia con <code>/</code> (o con <code>\</code>, a seconda del sistema), il percorso si intende <strong>assoluto</strong> e ha origine dalla root directory. Se un path non comincia con <code>/</code>, invece, esso si intende come <strong>relativo</strong> e ha origine dalla working directory.
Esempio: se l'utente si trova nella working directory <code>/home/mattia/Documents</code> il <em>percorso relativo</em> <code>poli/SO/00_introduzione.ppt</code> corrisponde al path assoluto <code>/home/mattia/Documents/poli/SO/00_introduzione.ppt</code>.</p>
<p>In ogni direttorio sono presenti almeno due oggetti:</p>
<ul>
<li>il direttorio <code>.</code> che è il direttorio stesso;</li>
<li>il direttorio <code>..</code> che è il direttorio padre.
F eccezione solo il direttorio root, che non ha <code>..</code>, oppure che ha <code>..</code> che coincide al direttorio root stesso, in quanto esso non ha un padre.</li>
</ul>
<h3>Sui processi</h3>
<p>Ricordiamo che per studiare i SO definiamo programma un file eseguibile che, di per sé, è un entità passiva. Definiamo un programma <em>concorrente</em> o <em>parallelo</em>, un programma in cui diverse valutazioni possono procedere in parallelo, senza che l'una attendo il termine dell'altra. Questo tipo di programmi sono delicati in quanto generalmente operazioni concorrenti operano sulla medesima fonte di dati. In particolare vanno strutturati in modo che le operazioni eseguite sui dati siano sincronizzate e garantiscano sempre l'integrità dei dati.</p>
<p>Un programma diventa un unità attiva quando gli viene assegnato un processo e dunque viene eseguito.</p>
<p>Ogni processo è identificato da un numero univoco, il <strong>PID</strong> (Process ID) e può dare origine a diversi <em>processi figli</em>, o <strong>thread</strong>. Le citate system-call <code>fork</code> e <code>kill</code>, per esempio, servono per creare un processo figlio e per terminare uno specifico processo - rispettivamente.</p>
<p>Un <em>thread</em> non è un processo vero e proprio, infatti prende anche il nome di <em>processo leggero</em>, o <em>flusso di controllo</em>.</p>
<p>Un processo:</p>
<ul>
<li>&quot;raggruppa&quot; dellle risorse;</li>
<li>può avere più flussi di controllo in esecuzione (thread);</li>
<li>ogni thread ha un identificatore locale al processo.</li>
</ul>
<p><strong>Alcuni termini utilizzati nella programmazione concorrente</strong>:</p>
<ul>
<li><strong>deadlock</strong>: un insieme di entità attendono il verificarsi di un evento che può essere causato solo da un'altra entità dell'insieme;</li>
<li><strong>livelock</strong>: un proceeso è in esecuzione e fa polling per accedere a una risorsa senza che questa venga mai rilasciata;</li>
<li><strong>starvation</strong>: a un'entità viene ripetutamente rifiutato l'accesso a una risorsa necessaria al suo progresso:
<ul>
<li>starvation non implica deadlock: mentre un'entità è in condizione di starvation;</li>
<li>deadlock implica starvation: nessuna entità procede, quindi starvation.</li>
</ul>
</li>
</ul>
<h3>Pipe</h3>
<p>La pipeline è la più vecchia forma di comunicazione dei sistemi UNIX. Una <em>pipe</em> è un flusso di dati tra due processi; nella loro accezione più semplice è un canale di comunicazione half-duplex, ovvero unidirezionale a tempi alterni.</p>
