<h1>Comandi UNIX &amp; Linux</h1>
<h2>man</h2>
<p>Il comando <code>man</code> è presente su qualunque sistema UNIX è apre il manuale di un certo comando: <code>man ls</code>, per esempio, apre il manuale del comando <code>ls</code>.</p>
<h2>apropos</h2>
<p>Fornito come parametro il nome di un comando, fornisce un elenco di comandi ad esso legato.</p>
<h2>whatis</h2>
<p>Fornisce una descrizione di un comando.</p>
<h2>whereis</h2>
<p>Restituisce il percorso in cui si trova un certo file/comando.</p>
<h2>Sintassi di un comando</h2>
<p>I comandi sono generalmente programmati con la seguente sintassi:</p>
<pre><code class="language-bash">&lt;comando&gt; [opzioni] [argomenti] 
</code></pre>
<p>Le opzioni modificano il comportamento del comando, mentre gli argomenti rappresentano «su che cosa» il comando viene eseguito. Generalmente le opzioni possono essere specificate con formato lungo o con formato corto: il comando <code>man -h</code>, per esempio, è equivalene al comando <code>man --help</code>.</p>
<hr />
<p>Esempio:
nella working directory <code>/Users/mattia</code>, il comando <code>ls</code> restituisce:</p>
<pre><code class="language-bash">mattia@MacBook-Air-di-Mattia ~ % ls 
CLionProjects		Music			Public
Desktop			Nextcloud		Qt
Documents		OneDrive		bilancio-20210215.bak
Downloads		PhpstormProjects	bilancio-20210227.bak
Library			Pictures		bilancio-20210303.bak
Movies			Postman			go
</code></pre>
<p>mentre <code>ls Downloads</code> restituisce:</p>
<pre><code class="language-bash">mattia@MacBook-Air-di-Mattia ~ % ls Downloads 
FULLTEXT01.pdf				journal.pone.0242946.pdf
GIAVAInquiry_IntermediaryListExport.csv	src
corso_analisi_3.pdf			vid_74.mp4
ghidra_9.2.2_PUBLIC
</code></pre>
<hr />
<h2>Super User DO</h2>
<p>Se si vuole eseguire un comando come utente aministratore, è possibile farlo, a patto di avere l'autorizzazione come utente (cioè essere un utente amministratore, in GNU/Linux gli utenti nel gruppo <code>sudoers</code>). Per farlo, è sufficiente scrivere <code>sudo</code> prima del comando.</p>
<pre><code class="language-bash">sudo rm -r /home/mattia/Downloads
</code></pre>
<p>In questo esempio, il comando è eseguito come aministratore.</p>
<h2>Comandi per il File System</h2>
<h3>Il comando <code>ls -la</code> e dintorni</h3>
<p>Il comando <code>ls -la</code> serve per avere non solo l'elenco dei file contenuti in una cartela, ma anche le loro proprietà.</p>
<pre><code class="language-bash">nas02@raspberrypi:~$ ls -la 
total 139068
drwxr-xr-x 14 nas02 nas02      4096 Mar  9 16:03 .
drwxr-xr-x  7 root  root       4096 Jan 13 18:28 ..
-rw-------  1 nas02 nas02      7049 Mar  6 13:03 .bash_history
drwx------  6 nas02 nas02      4096 Mar  4 08:51 .cache
drwx------  8 nas02 nas02      4096 Mar  4 08:51 .config
drwx------  3 nas02 nas02      4096 Jul  4  2020 .gnupg
drwxr-xr-x  3 nas02 nas02      4096 Jul  3  2020 .local
drwxr-xr-x  5 root  root       4096 Feb  1 23:17 minecraftdir
-rw-r--r--  1 nas02 nas02 142314486 Jan 30 20:23 minecraftdir.zip
drwx------  3 nas02 nas02      4096 Jan 10 18:53 .pki
drwxr-xr-x  2 nas02 nas02      4096 Jan 10 20:09 printer
drwxr-xr-x  3 nas02 nas02      4096 Jul  9  2020 SHARE
drwx------  2 nas02 nas02      4096 Jan 13 19:56 .ssh
drwx------  2 nas02 nas02      4096 Dec 20 15:31 .synaptic
-rw-------  1 nas02 nas02     15652 Mar  9 16:03 .viminfo
drwxr-xr-x  2 nas02 nas02      4096 Jul  9  2020 WD_BAK
drwxrwxrwx  9 nas02 nas02      4096 Mar  5 23:22 WD_DATA
-rw-------  1 nas02 nas02       114 Jan 16 21:52 .Xauthority
</code></pre>
<p>La prima parte (e.g. <code>drwx------</code>) indica i permessi sull'elemento del FS e il tipo di elemento. Il primo carattere può essere:</p>
<ul>
<li><code>-</code>: si tratta di un file;</li>
<li><code>d</code>: si tratta di un direttorio;</li>
<li><code>l</code>: si tratta di un <em>link</em>;</li>
<li><code>s</code>: si tratta di un <em>socket</em>.</li>
</ul>
<p>I succesivi caratteri si dividono in blocchi di tre, per esempio <code>-rw-r--r--</code> si divide in:</p>
<ul>
<li><code>-</code>: è un file;</li>
<li><code>rw-</code>, permessi dell'utente;</li>
<li><code>r--</code>, permessi del gruppo;</li>
<li><code>r--</code>, permessi degli altri utenti.</li>
</ul>
<p>I permessi sono, rispettivamente, letture (read), scrittura (write), esecuzione (execution) e si indicano con <code>rwx</code>, se la lettera è presente, l'utente ha il permesso, se al posto della lettera comere il carattere <code>-</code>, l'utente non ha il permesso. Nell'esempio, il file <code>minecraftdir.zip</code> può essere letto e scritto dall'utente proprietario, letto dagli utenti del gruppo, letto da tutti, eseguito da nessuno. In particolare, se il permesso affermato fosse un <code>1</code> e il permesso negato <code>0</code>, si potrebbe identificare la terna dei permessi di un utente con un numeo ottale <code>0÷7</code>.</p>
<p>L'esecuzione di un direttorio equivale alla lettura dello stesso.</p>
<p>Successivamente, colonna 2, troviamo il numero di link dell'elemento del FS.</p>
<p>Le colonne 3 e 4 identificano rispettivamente l'utente e il gruppo proprietario del file.</p>
<p>Troviamo poi la data dell'ultima modifica, l'ora e il nome dell'elemento del FS.</p>
<h3>Link</h3>
<p>Nei sistemi *NIX-Like, è possibile creare dei link per condividere gli elementi del FS. Per creare un link si usa il comando <code>ln</code>, salvo diverse specificazioni, crea un hard link. I link possono essere di tipo <strong>hard</strong> e <strong>soft</strong>. Un link di tipo hard è un oggetto del FS che contiente le informazioni necessarie per recuperare informazioni rispetto all'oggetto a cui punta. Esiste, per ogni elemento del FS, un <strong>inode</strong> che contiene le informazioni per determinare dove siano memorizzati i dati relativi all'elemento (i blocchi). Ogni oggetto ha almeno un hard link che punta ad essso, che si trova nell'inode della cartella in cui l'elemento è contenuto. Ogni direttorio è puntato da almeno un hard link che punta ad esso: la directory entry del direttorio padre e il riferimento <code>.</code> nel direttorio stesso.</p>
<p>È possibile poi vedere a quale inode puntano le directory entry:</p>
<pre><code class="language-bash">mattia@MacBook-Air-di-Mattia ~ % ls -i 
2306749 CLionProjects		 236176 Movies			 236132 Pictures
 236134 Desktop			 236130 Music			2821455 Postman
 236178 Documents		 635731 Nextcloud		 236172 Public
 236180 Downloads		 579268 OneDrive		3060250 Qt
 236136 Library			4150495 PhpstormProjects	2970599 go
</code></pre>
<h3>Hard Link</h3>
<p>Per creare un link hard, si usa il comando</p>
<pre><code class="language-bash">ln &lt;FS_element&gt; &lt;link_path&gt;
</code></pre>
<p>Se si elimina un solo hard link all'elemento (all'inode), il file contiuerà ad esistere, raggiungibile dagli altri hard link. Quando il contatore di hard link di un elemento del FS diventa <code>0</code>, l'elemento non è più raggiungibile.</p>
<h3>Soft Link</h3>
<p>Per creare un link soft, si usa il comando</p>
<pre><code class="language-bash">ln -s &lt;FS_element&gt; &lt;link_path&gt;
</code></pre>
<p>Eliminando il file puntato dal soft link, il link resta pendente, ma il file non sarà più raggiungibile.</p>
