<h1>Alcuni strumenti utili per programmare in Linux</h1>
<h4>Salto la parte relativa agli editor VI / VIM / Emacs &amp; Co.</h4>
<h3>GCC</h3>
<p>È il più noto compilatore per C/C++. Per compilare un file è sufficiente scrivere:</p>
<pre><code class="language-bash">gcc -c file1.c
</code></pre>
<p>mentre per compilare e linkare più file (<code>file1.c</code>, <code>file2.c</code>, <code>file3.c</code>) si può alternativamente impartire il comando:</p>
<pre><code class="language-bash">gcc file1.c file2.c file3.c -o file_eseuibile
</code></pre>
<p>oppure:</p>
<pre><code class="language-bash">gcc -c file1.c 
gcc -c file2.c 
gcc -c file3.c 
gcc -o file_eseguibile file1.c file2.c file3.c 
</code></pre>
<p>Alcune opzioni utili per utilizzare <code>gcc</code>:</p>
<ul>
<li><code>-Wall</code> [Warn all] mostra tutti gli warning;</li>
<li><code>-I</code> si può utilizzare pewr specificare un percorso di ricerca per i file <code>.h</code>;</li>
<li><code>-g</code> per <strong>non</strong> ottimizzare il codice e poter debuggare;</li>
<li><code>-lm</code> per includere le librerie matematiche.</li>
</ul>
<p>La compilazione standard per il coso è del tipo:</p>
<pre><code class="language-bash">gcc -Wall -g -c file1.c 
gcc -Wall -g -c file2.c 
gcc -Wall -g -c file3.c 
gcc -o file_eseguibile file1.o file2.o file3.o 
</code></pre>
<p>Esistono poi delle tecniche per evitare di scrivere tutti questi comandi e di rieseguire la compilazione per ogni piccola modifica al codice, come ad esempio, i <code>makefile</code>.</p>
<h3>Makefile</h3>
<p>Si può creare un file chiamato <code>makefile</code> che definisce il processo di compilazione del programma.</p>
<p>Il file è strutturato in diverse sezioni del tipo:</p>
<pre><code class="language-makefile">target: dependecy
&lt;tab&gt;  command 1
&lt;tab&gt;  command 2
&lt;tab&gt;  command 3
&lt;tab&gt;  command 3 
</code></pre>
<p>Se ci sono più sezioni di questo tipo, viene eseguito solo il primo target, a meno di specificare un target specifico con</p>
<pre><code class="language-makefile">make &lt;target specifico&gt; 
</code></pre>
<p>Un target viene eseguito solo se le sue dipendenze sono più vecchie del target stesso (i.e. se ho già compilato, non compilo nuovamente); se la dipendenza non è un file ma un target, allora viene eseguito il target dipendenza.</p>
<p>Esempio di makefile:</p>
<pre><code class="language-makefile">target:
    gcc -Wall -g -c file1.c
    gcc -Wall -g -c file2.c 
    gcc -Wall -g -c file3.c 
    gcc -o file_eseguibile file1.o file2.o file3.o
</code></pre>
<p>Per compilare, se il file si chiama <code>makefile</code>, sarà sufficiente impartire (previo spostamento nel direttorio in cui è contenuto il makefile) il comando:</p>
<pre><code class="language-bash">make
</code></pre>
<p>Casi standard di makefile:</p>
<pre><code class="language-makefile">target: 
    gcc -Wall -g -o file_eseguibile file1.c file2.c file3.c -lm 

clean: 
    rm -rf *~ 
    rm -rf *bak* 
    rm -rf core 

disclean: clean 
    rm -rf file_eseguibile 
    rm -rf *.o 
</code></pre>
<pre><code class="language-makefile">CC = gcc
FLAGS = -Wall -g 
includedir = ./dir 
INCLUDEDIR = -I. -I$(includedir) 
LIB = -lm -pthread 

target: mainVet.o inVet.o outVet.o 
    $(CC) $(FLAGS) $(INCLUDEDIR) -o file_eseguibile mainVet.o inVet.o outVet.o $(LIB) 

compile: 
    gcc $(FLAGS) $(INCLUDEDIR) -c mainVet.c 
    gcc $(FLAGS) $(INCLUDEDIR) -c inVet.c 
    gcc $(FLAGS) $(INCLUDEDIR) -c outVet.c 
</code></pre>
