<h1>I file in Linux</h1>
<p>Siccome i caratteri nei file sono scritti codificati numericamente, bisogna essere consapevoli di quale codifica si sta utilizzando. Tra le codifiche ricordiamo:</p>
<ul>
<li><strong>ASCII</strong>, 7 bit;</li>
<li><strong>USASCII</strong> o <strong>Extended ASCII</strong>, 8 bit;</li>
<li>standard <strong>Unicode</strong>, max 32 bit, implementato attraverso le codifiche:
<ul>
<li><strong>UTF-8</strong>, min 8 bit, max 32 bit;</li>
<li><strong>UTF-16</strong>, min 16 bit, max 32 bit;</li>
<li><strong>UTF-32</strong>, 32 bit.</li>
</ul>
</li>
</ul>
<p>Si parla poi di file di testo, quando il file è interpretabile dall'utente leggendone i caratteri; di file binario altrimenti.</p>
<p>Per i file di testo definiamo i concetti di:</p>
<ul>
<li><strong>tabulazione</strong> <code>\t</code>;</li>
<li><strong>new line</strong> <code>\n</code>, <code>(char)(10)</code>;</li>
<li><strong>cariage return</strong> <code>\r</code>, <code>(char)(13)</code> [desueto];</li>
<li>altri terminatori (di sezione, pagine, paragrafo, tab verticali, ecc.) [desueti].</li>
</ul>
<p>Durane il corso vedremo come manipolare i file in modo binario. A tale scomo vedremo il concetto di serializzazione. Per esempio, in APA, si è abituati a trattare strutture come la seguente esplicitandone il contenuto, trattandola colonna per colonna. Vedremo come trattare la struttura «atomicamente».</p>
<pre><code class="language-c">typedef struct {
    int id; 
    long int rn; 
    char n[L], c[L]; 
    int mark; 
} s; 
</code></pre>
<p>In forma testuale avremo un file del tipo:</p>
<pre><code class="language-txt">1 100000 Romano Antonio 25
</code></pre>
<p>In forma binaria, con serializzazione su 8 bit (ASCII): [all'incirca, non prendere seriamente]</p>
<pre><code class="language-txt">† Romano ÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌ
Antonio ÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌ
</code></pre>
<p>In forma binaria, con serializzazione su 16 bit (Unicode): [all'incirca, non prendere seriamente]</p>
<pre><code class="language-txt">???  †?R?o?m?a?n?o???ÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌ
ÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌ
ÌÌA?n?t?o?n?i?o???ÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌ
ÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌÌ
</code></pre>
<p>Attenzione: non abbiamo stampato i byte con una nostra procedura, ma abbiamo effettuato un dump della struttura dati e in lettura effettueremo l'operazione inversa.</p>
<p>L'operazione è delicata in quanto la buona riuscita della lettura a seguito di una scrittura è dipendente dei sistemi (operativi e elettronici) da cui la scrittura e la lettura sono eseguite.</p>
<p>Se scrivo un dump su un sistema con codifica little endian e tento la lettura su un sistema con codifica big endian, potrei riscontrare dei problemi.</p>
<p>Per leggere e scrivere, dimenticheremo <code>fprintf</code> e <code>fscanf</code> e utilizzeremo delle funzioni ISO C, che di fatto sono delle System-Call UNIX:</p>
<pre><code class="language-c">size_t fread  (void *ptr, size_t size, size_t nObj, FILE *fp); 
size_t fwrite (void *ptr, size_t size, size_t nObj, FILE *fp); 
</code></pre>
<p>Se volessimo usare direttamente POSIX [sono direttamente System-Call]:</p>
<pre><code class="language-c">// Non restituisce un FILE*, ma un int &gt; 0 
int open(const char *path, int flags[, int mode]); 
</code></pre>
<p>Laddove <code>flags</code> è una maschera ottenuta dall'<code>or</code> bit-a-bit tra i flag:</p>
<ul>
<li><code>O_CREAT</code> crea il file se non esiste;</li>
<li><code>O_EXCL</code> errore se <code>O_CREAT</code> è settato e il file esiste già;</li>
<li><code>O_TRUNC</code> rimuovere il contenuto del file;</li>
<li><code>O_APPEND</code> appendere il file;</li>
<li><code>O_SYNC</code> ogni write attente che l'operazione di scrittura fisica sia terminata prima di proseguire;</li>
<li>...</li>
</ul>
<p>Mentre <code>mode</code> specifica i diritti di accesso al file:</p>
<ul>
<li><code>S_I{R|W|X}USR -rwx------</code></li>
<li><code>S_I{R|W|X}GRP ----rwx---</code></li>
<li><code>S_I{R|W|X}OTH -------rwx</code></li>
</ul>
<p>Per leggere:</p>
<pre><code class="language-c">#include &lt;sys/types.h&gt; 
#include &lt;unistd.h&gt;

int read  (int fd, void *buf, size_t nbytes); 

int write (int fd, void *buf, size_t nbytes); 

int close(int fd); 
</code></pre>
<hr />
<p>Esempio:</p>
<pre><code class="language-c">float data[10]; 
if(write(fd, data, 10*sizeof(float)) == -1) {
    fprintf(stderr, &quot;Errore: Wrote -1\n&quot;)
}
</code></pre>
<pre><code class="language-c">struct {
    char name[L]; 
    int n; 
    float avg; 
} item; 


//... code ... 
 
if(write(fd, &amp;item, sizeof(item)) == -1) {
    fprintf(stderr, &quot;Errore: Wrote -1\n&quot;)
}
</code></pre>
<p>Esempio completo:</p>
<pre><code class="language-c">#include &lt;sys/stat.h&gt;
#include &lt;fcntl.h&gt; 
#include &lt;unistd.h&gt; 

#define BUFFFSIZE 4096 

int main(int argc, char **argv) {
    int nR, nW, fdR, fdW, ret; 
    char buf[BUFFERSIZE]; 
    
    ret = 0; 
    
    fdR = open(argv[1], O_RDONLY); 
    fdW = open(argv[2], OWRONLY | O_CREAT | O_TRUNC, S_IRUSR | S_IWUSR)
    
    if (fdR == -1 || fdW == -1) {
        fprintf(stderr, &quot;Error opening a file.\n&quot;); 
        ret = 1; 
        
    } else {
        while (nR = read(fd, buf, BUFFERSIZE) &gt; 0) {
            nW = write(fd, buf, nR); 

            if (nW != nR) {
                fprintf(stderr, &quot;Error writing output file.\n&quot;);  
                ret = 1;
            } 
        }
        
        if (nR &lt; 0) {
            fprintf(stderr, &quot;Error reading input file.\n&quot;); 
            ret = 1; 
        }
    }
    
    close(fdR); 
    close(fdW);  
    

    return ret; 
}
</code></pre>
<hr />
<h2>I direttori</h2>
<p>Perché abbiamo bisogno dei direttori?</p>
<p>Di seguito vediamo qualche esempio pratico per capire perché su qusti tutti i SO si utilizzino FS basati su direttori e sottodirettori.</p>
<h3>Direttorio unico</h3>
<p>La struttura più semplice da immaginare è quella in cui esiste un uncico direttorio, la radice, contenente tutti i file, differenziati unicamente dal nome, il quale per ovvie ragioni deve essere univoco.</p>
<img src="src/i1.svg" /> 
<p>Dal punto di fista delle prestazioni:</p>
<ul>
<li><strong>efficiency</strong>: struttura facilmente cmprensibile e gestibile;</li>
<li><strong>naming</strong>: i file devono avere nomi univoci e i problemi nell'auentare in modo considerevole il numero di file memorizzati sono evidenti;</li>
<li><strong>grouping</strong>: la gestione dei file di un utente singolo è complessa e la gestione di utenti multipli è praticamente impossibile.</li>
</ul>
<h3>Direttorio per utente</h3>
<p>Dato il terzo punto si potrebbe pensare di ampliare il direttorio radice includendo in esso un direttorio per ogni utente, come in figura: (unesempio di uesta struttura sono i sistemi di memorizzazione a blocchi come Amazon S3)</p>
<img src="src/i2.svg" />
<ul>
<li><strong>efficiency</strong>: struttura facilmente cmprensibile e gestibile, come prima ma orientata agli utenti;</li>
<li><strong>naming</strong>: i file devono avere nomi univoci e i problemi nell'auentare in modo considerevole il numero di file memorizzati sono evidenti, come prima;</li>
<li><strong>grouping</strong>: la gestione dei file di un utente singolo è complessa ma gestibile, in quanto non in conflitto con altri utenti.</li>
</ul>
<h3>Struttura ad albero</h3>
<p>La struttura che tutti conosciamo, con un direttorio principale e n sottodirettori specific purpose:</p>
<img src="src/i3.svg" />
<p>In questa struttura nascono i concetti di direttorio di utente e direttorio di lavoro, path assoluto e path relativo.</p>
<ul>
<li><strong>efficiency</strong>: struttura facilmente cmprensibile e gestibile, come prima ma orientata agli utenti;</li>
<li><strong>naming</strong>: sono permessi file con lo stesso nome ma appartenenti a uno stesso utente purché in direttori separati;</li>
<li><strong>grouping</strong>: la gestione dei file è semplice, tranne per il caso di condivisione.</li>
</ul>
<h3>Struttura a grafo a-ciclico</h3>
<p>Permette di rendere disponibile lo stesso elemento del FS da diversi direttori:</p>
<img src="src/i4.svg" />
Nella figura, il file `filex` appartenente all'utente `user1` è accessibile anche attraverso i link nei sottodirettori degli utenti `user2` e `user3`.
<p>È importane che la struttura non diventi ciclica, in quanto la struttura ciclica può essere più difficile da esplorare.</p>
<p><strong>Hard link</strong>
Il primo tipo di collegamento possibile è l'hard link, un link che punta direttamente all'elemento del FS. La cancellazione di un singolo hard link non comporta l'eliminazione dell'elemento del FS, ma solo del link. L'elemento del FS viene eliminato solo quando non ci sono più hard link che puntano adesso.</p>
<p><strong>Soft link</strong>
Anche detto <em>link simbolico</em>, è un collegamento non diretto con l'elemento del FS puntato, ma a un altro path. Se il link viene eliminato, non succede niente. Se l'elemento del FS viene eliminato, il link resta nel FS e punterà a un elemento del FS inesistemte.</p>
<h2>Allocazione dei file</h2>
<p>Esistono diversi modi per allocare il file all'interno delle unità di memoria, le vediamo di seguito.</p>
<h3>Allocazione contigua</h3>
<p>Il file è memorizzato in celle di memoria contigue, e dunque per accedere al file è suffciente disporre del dell'indirizzo del blocco di partenza e del numero di blocchi che il file occupa. Questo tipo di allocazione presenta il vantaggio di <strong>accessi sequenziali e diretti</strong>, nonché di una <strong>strategia di allocazione</strong>, estremamente semplici. Tuttavia esistono anche degli svantaggi, come ad esempio la <strong>frammentazione interna</strong>, ovvero la frammentazione dovuta al fatto che alcuni blocchi (l'ultimo blocco in cui è allocato il file) non sarà pienamente occupato. Ed esiste poi anche un problema di <strong>frammentazione esterna</strong>, ovvero di blocchi di memoria che sì, sono liberi, ma non possono ospitare file di grandi dimensioni in quanto i blocchi, anche se disponibili in quantità sufficienti, non sono contigui. Nasce il concetto di <strong>deframmentazione</strong>, l'operazione con cui il SO va a riosizionare i file sul supporto di memoria in modo da recuperare spazio.</p>
<h3>Allocazione concatenata</h3>
<p>Il file è memorizzato in diversi blocchi, non contigui. Per accedere al file è necessario disporre di un hard link al file e per ogni nodo in cui il file è allocato è necessario sapere qual è il nodo successivo (linked-list). Questo sistema ha lo svantaggio di <strong>non essere efficiente per accessi diretti, ma solo per accessi sequenziali</strong>. Dal punto di vista di uaffidabilità, poi, il failure di una singola cella su disco può determiare la perdità di diverse migliaia – se non milioni – di celle successive.</p>
<h4>FAT</h4>
<p>Variante dell'allocazione concatenata. Il puntatore successivo non è contenuto nel blocco del supporto di memoria, ma in una tabella che contiene tutti gli indirizzi in cui il file è memorizzato. È chiaro che per leggere il file è necessario non solo leggere il file, ma anche la FAT; questo vuol dire effettuare due accessi al disco annziché uno. Se poi vogliamo parlare di affidabilità: persa la FAT, perso tutto! In oltre, quanto è grande la FAT?</p>
<h3>Allocazione indicizzata</h3>
<p>Abbiamo un blocco indice per ogni file, il blocco contiene gli indici di ogni nodo contenente i file. C'è uno svantaggio: per ogni file è necessario avere un blocco indice; ma quanto deve essere grande il blocco indice? Un blocco indice di dimensione troppo limitata non permette di memorizzare abbastanza indici e, d'altra parte, un blocco indice troppo grande non permetterebbe di sfruttare almassimo lo spazio. Esistono diversi modi per porre rimedio a questo svantaggio:</p>
<ul>
<li>blocchi indice concatenati;</li>
<li>blocchi indice a più livelli;</li>
<li>combinato.</li>
</ul>
<p>Tipicamente i blocchi indice nei sistemi *NIX-Like, sono chiamati <code>inode</code>. Ogni inode è composto di quindii blocchi:</p>
<ul>
<li>da 1 a 12: sono puntatori diretti (di dato);</li>
<li>da 13 a 15: se non mi bastano i dati nei 12 blocchi, c'è il puntatore 13 che punta a un nodo di puntatori a nodi, se non basta questo, si passa al 14 e poi al 15.
Questo sistema consente di indirizzare $2^60$ byte.</li>
</ul>
<h3>Manipolare un direttorio o un FS in C con POSIX (Sysem-Call, !ANSI)</h3>
<p>La funzione <code>stat</code>:</p>
<ul>
<li>capire di che tipo è l'entry del FS che stiamo considerando;</li>
<li>permessa dalla struttura <code>struct stat</code>.</li>
</ul>
<p>Le System-Call:</p>
<pre><code class="language-c">#include &lt;sys/types.h&gt;
#include &lt;sys/stat.h&gt; 

// Restituzione di un codice d'errore in tutti e tre i casi 
// Le funzioni restituiscono &quot;sb&quot; valorizzato con le informazioni 
// riguardanti il &quot;path&quot; specificato 
int stat(const char *path, struct stat *sb); 

// Restituisce informazioni sul link simbolico &quot;path&quot; 
int lstat(const char *path, struct stat *sb); 

// Restituisce informazioni sul file &quot;path&quot; già aperto 
int fstat(const char *path, struct stat *sb); 
</code></pre>
<p>La struttura:</p>
<pre><code class="language-c">struct stat {
    mode_t st_mode; /* file type &amp; mode */ 
    ino_t  st_ino;  /* i-node number */ 
    dev_t  st_dev;  /* device number */ 
    dev_t  st_rdev; /* device number */ 
}; 
</code></pre>
<p>Le macro per capire il tipo di file:</p>
<ul>
<li><code>S_ISREG</code> regular file;</li>
<li><code>S_ISDIR</code> directory;</li>
<li><code>S_ISBLK</code> block special file;</li>
<li><code>S_ISCHR</code> character special file;</li>
<li><code>S_ISFIFO</code> fifo;</li>
<li><code>S_ISSOCK</code> socket;</li>
<li><code>S_ISLNK</code> symbolic link.</li>
</ul>
<hr />
<p>Esempio:</p>
<pre><code class="language-c">#include &lt;sys/types.h&gt;
#include &lt;sys/stat.h&gt; 

void main(int argc, char **argv) { 
    int lstat_errno; 
    struct stat buf; 
    char *s; 

    if((lstat_errno = stat(argv[i], &amp;buf)) &lt; 0 {
        fprintf(stderr, &quot;lstar error: %d.&quot;, lstat_errno); 
    } else {
        if(S_ISREG(buf.st_mode)) 
            s = &quot;regular&quot;; 
        else if(S_ISDIR(buf.st_mode)) 
            s = &quot;directory&quot;; 
        // ... 
        printf(&quot;%s.\n&quot;, s); 
    }
}
</code></pre>
<hr />
<h4>Funzioni per manipolare i direttori</h4>
<pre><code class="language-c">#include &lt;dirent.h&gt; 

// Apre un direttorio in lettura e restituisce il puntatore al direttorio 
// in caso di successo, NULL in caso di errore 
DIR *opendir(cont char *filename); 

// Continua la lettura del direttorio e restituisce il puntatore al direttorio
// in caso di successo, NULL in caso di errore o al termina della lettura 
struct dirent readdir(DIR *dp); 

// Termina la lettura e restituisce 0 in caso di successo, 1 in caso di errore 
int closedir(DIR *dp); 
</code></pre>
<p>Laddove <code>dirent</code> è:</p>
<pre><code class="language-c">struct dirent {
    int d_no; 
    char d_name[NMAX+1]; 
}; 
</code></pre>
<h4>Esempio di codice</h4>
<pre><code class="language-c">//
// Minimalistic implementation of command &quot;ls&quot;. 
//
#include &lt;sys/types.h&gt;
#include &lt;sys/stat.h&gt;
#include &lt;sys/dirent.h&gt;
#include &lt;sys/dir.h&gt;
#include &lt;stdio.h&gt;

int main(int argc, char **argv) {
    int lstat_errno;
    struct stat buf;
    struct dirent *dirp;
    DIR *dp;
    char *s;
    char path[255];
    int i = 0;
    char full_name[255];

    printf(&quot;Path (no bank): &quot;);
    scanf(&quot;%s&quot;, path);

    // Retrieve information abou the FS element
    if((lstat_errno = stat(path, &amp;buf)) &lt; 0) {
        fprintf(stderr, &quot;lstar error: %d.\n&quot;, lstat_errno);
        return 1;
    }

    // Verify FS element is a directory
    if(! S_ISDIR(buf.st_mode)) {
        fprintf(stderr, &quot;S_ISDIR error: path is not a directory.\n&quot;);
        return 1;
    }

    // Open directory to read
    if((dp = opendir(path)) == NULL) {
        fprintf(stderr, &quot;Error while opendir.\n&quot;);
        return 1;
    }

    // Read directory
    i = 0;
    while((dirp = readdir(dp)) != NULL) {
        sprintf(full_name, &quot;%s/%s&quot;, path, dirp-&gt;d_name);

        // Retrieve information abou the FS sub-element
        if((lstat_errno = stat(full_name, &amp;buf)) &lt; 0) {
            fprintf(stderr, &quot;lstar error: %d.\n&quot;, lstat_errno);
            return 1;
        }

        // Verify FS element is a directory
        if(S_ISDIR(buf.st_mode)) {
            printf(&quot;Directory %s\n&quot;, dirp-&gt;d_name);
        } else {
            printf(&quot;File      %s\n&quot;, dirp-&gt;d_name);
        }
    }

    // Close FS element
    if((lstat_errno = closedir(dp)) &lt; 0) {
        fprintf(stderr, &quot;closedir error: %d.\n&quot;, lstat_errno);
        return 1;
    }

    return 0;
}
</code></pre>
