<h1>I processi in UNIX</h1>
<p>Prima un passo indietro.</p>
<p><em>def.</em> <strong>Algoritmo</strong> UN'algoritmo è per definizione un processo logico che, in un numero finito di passi, permette la risoluzione di una classe di problemi.</p>
<p><em>def.</em> <strong>Programma</strong> Un progrmma è la formalizzazione di un algoritmo attraverso un linguaggio di programazione. Esso è un'entità passiva, ovvero dal punto di vista del sistema è un file come un altro (l'unica differenza con gli altri è che è contrassegnato come <em>eseguibile</em>).</p>
<p><em>def.</em> <strong>Processo</strong> Un processo è l'astrazione di un programa in esecuzione. Esso è un'entità attiva rappresentata da un insieme di operazioni che un programma in esecuzione esegue su un determinato insieme di dati.</p>
<h4>Problema</h4>
<blockquote>
<p>Ovvero perché ne stiamo parlando</p>
</blockquote>
<p>Con il passare del tempo abbiamo bisogno di processori sempre più potenti, o meglio, di programmi sempre più complessi che vengano eseguiti in modo sempre più veloce. Fino a metà degli anni '90 per avere programmi più veloci si è continuato ad aumentare le frequenze dei processori; dai 33MHz dell'Intel i486 nel '90, ai Pentium del '99 da oltre 200MHz. Tuttavia, questo metodo per ottenere velocità superiori entra in crisi, sia per motivi energetici, sia tecnologici. Oltre una certa frequenza non si riesce ad andare. Dunque si pensa di equipaggiare i computer non con processori a frequenza sempre più alta, ma con più processori. Cosicché mentre un processore esegue un operazione, un altro processore ne esegue un'altra. Certo due processori non raddopiano precisamente la velocità dell macchina, in quanto essi vanno coordinati, però effettivamente quasi ci riescono. I computer di ultima generazione, basta cercarli rapidamente su internet, è facile che siano octa-core, ovvero che abbiano al loro interno una CPU con otto core fisici, cioè otto unita di elaborazione. E ogni unità di elaborazione potrebbe essere costruita in modo tale da poter essa stessa eseguire più operazioni simultaneamente (<em>pipeline</em> e alti sistemi). L'introduzione di più unità di elaborazione sulla stessa macchina porta però a una sfida: la corretta <strong>gestione dei processi concorrenti</strong> e in particolare delle <strong>risorse comuni</strong> che si contenderanno durante l'esecuzione, nonché in fine <strong>la comunicazione fra processi diversi</strong>. Per quanto il fatto che diversi processi siano in esecuzione simultaneamente non sia del tutto estraneo alle CPU single-core, con l'avvento sul mercato delle multi-core, la questione è diventata più critica e importante. Oggi ogni applicazione per smatphone sfrutta ampiamente il multi-threading. Oggi ogni sito web utilizza chiamate asincrone, eseguite con meccanismi dovuti a programmazione concorrente. Dunque — anche senza una approfondita analisi, ma accontentandoci di dati empirici — capiamo come comprendere il parallelismo sia cruciale per poter sviluppare soluzioni software moderne efficienti e all'avanguardia, in ogni settore.</p>
<h4>Chiariamo un paio di aspetti</h4>
<p>Prima di procedere e parlare di multithreading, chiariamo il funzionamento dell'esecuzione sequnziale.</p>
<p>Si intende <strong>sequenziale</strong> il paradigma di esecuzione tale per cui:</p>
<ul>
<li>le operazioni sono eseguite una dopo l'altra:
<ul>
<li>ogni operazione nuova viene eseguita solo dopo che l'operazione precedente ha terminato l'esecuzione;</li>
<li>esiste una totale relazione di ordinamento;</li>
</ul>
</li>
<li>il comportamento è deterministico, ovvero dato uno stesso input si genera sempre uno stesso output, indipendentemente:
<ul>
<li>dal momento di esecuzione;</li>
<li>dalla velocità di esecuzione;</li>
<li>da quanti altri processi sono in esecuzione nel sistema.</li>
</ul>
</li>
</ul>
<center>
    <img src="src/i5.svg" /> 
</center>
<p>Si intende <strong>concorrente</strong> il paradigma di esecuzione tale per cui diverse istruzioni possono essere eseguite allo stesso istante benché:</p>
<ul>
<li>non esista relazion di ordinamento;</li>
<li>il comportamento non sia deterministico;</li>
</ul>
<p>La concorrenza può essere <strong>reale</strong>, nel caso di sistemi multi-processore o multi-core, oppure fittizia, nel caso di sistemi mono-processore o single-core.</p>
<center>
    <img src="src/i6.svg" /> 
</center>
<p>Come si vede nello schema, allo stesso istante <em>t<sub>n</sub></em> vencono eseguite diverse istruzioni.</p>
<center>
    <img src="src/i7.svg" /> 
</center>
<p>Nei sistemi UNIX (ma in generale su tutti i SO moderni), al <strong>bootstrap</strong> vengono eseguiti diversi processi che possono essere:</p>
<ul>
<li><strong>automatici</strong> ovvero i daemon come i processi che controllano periodicamente la posta elettronica, scansionano il FS alla ricerca di virus, offrono servizi di rete (HTTP, FTP, ecc.);</li>
<li><strong>su richiesta dell'utente</strong> ovvero processi che gestiscono periferiche eserne o che richiedono servizi a web server esterni.</li>
</ul>
<p>Normalmente è possibile identificare e controllare un processo o crearne uno attraverso delle System-Call quali <code>pid</code>, <code>getpid</code>, <code>getppid</code>, <code>fork</code>, <code>exec</code>, <code>system</code>, <code>exit</code>, <code>wait</code>, <code>waitpid</code> e altre.</p>
<h2>Definizioni e primi passi</h2>
<p>Ogni processo viene identificato da un ID che chiamiamo <strong>pid</strong>, il primo processo che viene eseguito dal SO ha <code>pis = 0</code> ed è il processo che inizializza il sistema operativo nonché quello che resta in esecuzione per tutta la durata di utilizzo del SO. In un certo senso si potrebbe dire che il processo con pid zero è &quot;il kernel&quot;, o meglio è lo <strong>scheduler</strong>, che fa partire gli altri processi.</p>
<p>Ogni processo ha un <strong>processo padre</strong> salvo il processo con pid zero. Ogni processo può diventare padre creando un nuovo processo, detto <strong>processo figlio</strong>.</p>
<p>Nei sistemi UNIX, lo scheduler fa partire immediatamente il processo di <strong>init</strong>, con <code>pid = 1</code>. Se un processo rimane orfano, ovvero il processo padre termina la propria esecuzione, il padre diventa il processo <strong>init</strong>.</p>
<p>Attenzione: i PID vengono riutilizzati! Essi sono univoci in un certo istante di tempo, ma non è garantito che un certo PID non venga riutilizzato.</p>
<p><strong>I PID riservati</strong></p>
<ul>
<li><code>0</code> è riservato al processo <strong>scheduler</strong> o <strong>swapper</strong>;</li>
<li><code>1</code> è riservato al processo <strong>init</strong>, quello di cui sopra. Attenzione: nei moderni SO diversi processi potrebbero chiamarsi <em>init</em>, solo uno di questi ha PID 1 e la particolarità di adottare i processi orfani.</li>
</ul>
<hr />
<p><strong>Un po' di C</strong>
Come conoscere il proprio PID o quello del proprio padre?</p>
<pre><code class="language-s">#include &lt;unistd.h&gt;

// The following System-Calls return informations 
// about the caller process 
pid_t getpid();		// Process ID 
pid_t getppid();	// Parent Process ID 
uid_t getuid();		// User ID
gid_t getgid();		// Group I
</code></pre>
<p>Esempio:</p>
<pre><code class="language-c">//
// How to use the four System-Calls to retrieve IDs
//
#include &lt;unistd.h&gt;
#include &lt;stdio.h&gt;

int main() {
    pid_t my_id = getpid();
    pid_t parent_id = getppid();
    uid_t user = getuid();
    gid_t group = getgid();

    printf(&quot;My:\t\t%d\nParent:\t%d\nUser:\t%d\nGroup:\t%d\n&quot;, my_id, parent_id, user, group);

    return 0;
}
</code></pre>
<p>Output:</p>
<pre><code class="language-bash">My:	8851
Parent:	3761
User:	501
Group:	20

</code></pre>
<p>Creando un processo figlio, il PID del processo e il PID del padre, vediamo come creando un nuovo processo con il comando <code>fork</code> (ci torneremo approfonditamente più avanti).</p>
<pre><code class="language-c">//
// Fork a process and see how PIDs change
//
#include &lt;unistd.h&gt;
#include &lt;stdio.h&gt;

int main() {

    pid_t my_id = getpid();
    pid_t parent_id = getppid();

    printf(&quot;My:\t\t%d\nParent:\t%d\n&quot;, my_id, parent_id);

    if(!fork()) {
        my_id = getpid();
        parent_id = getppid();

        printf(&quot;My:\t\t%d\nParent:\t%d\n&quot;, my_id, parent_id);
    }

    return 0;
}
</code></pre>
<p>Output:</p>
<pre><code class="language-bash">My:	9206
Parent:	3761
My:	9210
Parent:	1
</code></pre>
<hr />
<h3>Generare dei figli</h3>
<p>La System-Call per generare un processo figlio è la <code>pid_t fork(void)</code>. Essa crea un processo filgio che è di fattol a clonazione del processo chiamante (il padre). Una volta che la fork viene richiamata, essa restituisce al padre il valore del PID del figlio e al processo figlio <code>0</code>. Un esempio di utilizzo della <code>fork</code> è l'esempio precedente, da cui un osservatore attento potrà già comprenderne il funzionamento. Di seguito vediamo un caso d'uso un po' più chiaro:</p>
<pre><code class="language-c">//
// As described.
//
#include &lt;unistd.h&gt;
#include &lt;stdio.h&gt;

int main() {

    pid_t my_id = getpid();
    pid_t parent_id = getppid();
    pid_t child; 

    printf(&quot;My:\t\t%d\nParent:\t%d\n\n&quot;, my_id, parent_id);

    if(child = fork()) {
        // Code that will be executed iff fork retuns something
        // diffrent from 0, meaning that the following code can 
        // only be executed by the parent process.

        my_id = getpid(); 

        printf(&quot;I'm the father! My PID is %d while my son's %d!\n\n&quot;, my_id, child);
    } else {
        // Code that will be executed iff fork retuns 0,
        // meaning that the following code can only be
        // executed by the child process.

        my_id = getpid();
        parent_id = getppid();

        printf(&quot;I'm the child! My PID is %d while my father's %d!\n\n&quot;, my_id, parent_id);
    }

    return 0;
}
</code></pre>
<p>Output:</p>
<pre><code class="language-bash">My:	9406
Parent:	3761

I'm the father! My PID is 9406 while my son's 9407!

I'm the child! My PID is 9407 while my father's 9406!
</code></pre>
<p>Siccome l'esecuzione del codice da parte del padre potrebbe essere estremamente rapida e dunque precedente rispetto alla chiamata del figlio alla System-Call <code>getpid</code>, l'output potrebbe anche essere:</p>
<pre><code>My:	9481
Parent:	3761

I'm the father! My PID is 9481 while my son's 9482!

I'm the child! My PID is 9482 while my father's 1!
</code></pre>
<p>il che significa che il padre ha terminato la propria esecuzione prima che il figlio iniziasse la sua. Per pprocessi così rapidi è normale.</p>
<p>Se non è possibile creare un nuovo processo, la System-Call <code>fork</code> restituisce <code>-1</code>. L'errore può essere dovuto al fatto che sulla macchina sono in esecuzine troppi processi, oppure che sono in esecuzionde troppi thread nell'ambito del processo in oggetto (anche se sulla macchina possono essere generati altri processi, sono stati creati troppi figli).</p>
<p>Il modo più comune di gestire gli errori è il seguente:</p>
<pre><code class="language-c">// ... 
pid_t pid; 
switch(pid = fork()) {
	case -1: 
		// Error 
		break; 
	case 0: 
		// Child 
		break; 
	default: 
		// Parent 
} 
</code></pre>
<hr />
<p><strong>Coffee Break</strong>*</p>
<blockquote>
<p>O tips &amp; tricks</p>
</blockquote>
<p>Si può usare il comando <code>ps</code> per stampare i processi in esecuzione e il loro stato.</p>
<pre><code class="language-bash">mattia@MacBook-Air-di-Mattia ~ % ps -a 
  PID TTY           TIME CMD
67663 ttys000    0:00.07 login -pf mattia
67664 ttys000    0:00.04 -zsh
67681 ttys000    0:00.00 ps -a
</code></pre>
<p>Altrimenti, si può usare il comando <code>top</code>, che offre informazioni più dinamiche e istantanee.</p>
<div style="font-size: 14px">
<pre><code class="language-bash">mattia@MacBook-Air-di-Mattia ~ % top
Processes: 456 total, 2 running, 454 sleeping, 3099 threads            17:28:05
Load Avg: 2.22, 2.41, 1.93  CPU usage: 4.54% user, 3.10% sys, 92.35% idle
SharedLibs: 158M resident, 32M data, 7776K linkedit.
MemRegions: 299045 total, 2660M resident, 95M private, 1585M shared.
PhysMem: 7413M used (2193M wired), 125M unused.
VM: 137T vsize, 3210M framework vsize, 220721430(304) swapins, 222815342(0) swap
Networks: packets: 24269302/22G in, 24128697/9393M out.
Disks: 39467424/3919G read, 21051202/3518G written.

PID    COMMAND      %CPU TIME     #TH    #WQ  #PORTS MEM    PURG   CMPRS  PGRP
65366  Audacity     8.1  31:14.83 12     3    339    144M   0B     533M   65366
0      kernel_task  6.9  07:04:30 464/8  0    0      35M    0B     0B     0
429    coreaudiod   6.9  03:58:34 7      1    1548   37M    0B     29M    429
347    WindowServer 5.5  12:22:09 40     6    4002+  3424M+ 18M-   786M-  347
3745   avconference 5.4  02:02:09 13     5    170    36M+   64K-   7968K  3745
67692  top          3.8  00:00.57 1/1    0    27     7330K+ 0B     0B     67692
67510  VLC          3.0  01:52.73 16     3    414    201M   16K    126M   67510
51347  Terminal     3.0  00:51.67 13     7    362    92M+   16K-   54M-   51347
551    Notification 1.8  64:25.47 5      2    1313   111M   1280K  55M    551
884    OneDrive     1.7  03:24:26 17     3    1082   1504M  64K    5216M  884
10383  firefox      1.1  08:10:17 122    4    22318  1636M  0B     1043M  10383
852    Notion Helpe 0.9  25:37.60 17     1    172    157M   0B     119M-  838
51062  Discord Help 0.8  42:47.25 36     1    523    736M-  0B     2638M- 51050
338    bluetoothd   0.7  06:47.49 5      3    243    5970K+ 0B     2512K- 338
</code></pre>
</div>
<p>O ancora, il comando <code>htop</code>, che oltre ai processi, mostra lo stato di alcune risorse, come CPU, RAM e SWAP.</p>
<div style="font-size: 14px">
<pre><code class="language-bash">mattia@MacBook-Air-di-Mattia ~ % htop
    0[||||||||                 24.3%]     4[|||||||                  18.0%]
    1[|||||||                  20.5%]     5[||||                     10.0%]
    2[||||||                   17.3%]     6[||||                      9.3%]
    3[|||||                    16.0%]     7[|||                       7.3%]
  Mem[|||||||||||||||||||4.27G/8.00G]   Tasks: 453, 2147 thr; 2 running
  Swp[|||||||||||||||||||9.66G/11.0G]   Load average: 1.64 2.20 1.88 
                                        Uptime: 7 days, 23:44:48

  PID USER      PRI  NI  VIRT   RES S CPU% MEM%▽  TIME+  Command
51931 mattia     17   0 14.3G 2331M ? 44.4 28.5  0:52.55 /Applications/Joplin.ap
51062 mattia     17   0 35.3G  435M ?  0.8  5.3  1:01.62 /Applications/Discord.a
10383 mattia     17   0  394G  345M ?  3.5  4.2 11:46.04 /Applications/Firefox.a
66975 mattia     17   0 10.7G  336M ?  0.2  4.1  0:01.65 /Applications/Microsoft
 3628 mattia     17   0 13.1G  280M ?  0.0  3.4  0:39.01 /Applications/WhatsApp.
 3481 mattia     17   0  390G  258M ?  0.0  3.2  0:14.33 /System/Library/Service
66956 mattia     24   0 10.6G  242M ?  0.5  3.0  0:01.17 /Applications/Microsoft
 3636 mattia     17   0 12.6G  221M ?  0.3  2.7  1:19.00 /Applications/WhatsApp.
51050 mattia     17   0 14.9G  201M ?  0.7  2.5  0:15.92 /Applications/Discord.a
51927 mattia     17   0 14.9G  161M ?  0.0  2.0  0:15.93 /Applications/Joplin.ap
  884 mattia     17   0 11.9G  117M ?  1.9  1.4  4:54.42 /Applications/OneDrive.
51928 mattia     17   0 9872M  115M ?  0.3  1.4  0:19.84 /Applications/Joplin.ap
16009 mattia     17   0 12.3G  108M ?  0.0  1.3  0:25.85 /Applications/NordVPN I
F1Help  F2Setup F3SearchF4FilterF5Tree  F6SortByF7Nice -F8Nice +F9Kill  F10Quit
</code></pre>
</div>
<hr />
<h3>Grafi di generazione dei processi e del flusso di controllo</h3>
<p><em>def.</em> Il <strong>grafo del flusso di controllo</strong> è un grafo che mostra su un ramo l'esecuzione di un thread e su un e si divide quando un ramo esegue un <code>fork</code>.</p>
<p><em>def.</em> Il <strong>grafo di generazione dei processi</strong> è un grafo che mostra il legame di parentela di ogni thread generato.</p>
<p><strong>Esempio con codice</strong></p>
<pre><code class="language-c">#inlcude &lt;unistd.h&gt;

void f(void) {
	pid_t p = fork(); 
	
	if(p != 0)
		fork(); 
		
	fork(); 
}
</code></pre>
<p><strong>Grafo del flusso di controllo</strong></p>
<center>
    <img src="src/i8.svg" />
</center>
<p><strong>Grafo di generazione dei processi</strong></p>
<center>
    <img src="src/i9.svg" />
</center>
<h3>Sulle risorse</h3>
<p>Precedentemente è stato detto che quando viene duplicato un processo, le risorse ad esso associate vengono duplicate. In realtà le cose sono un po' più complicate. Le <strong>risorse</strong> del processo possono:</p>
<ul>
<li>essere condivise tra padre e figli;</li>
<li>essere condivise in parte;</li>
<li>non essere condivise affatto.</li>
</ul>
<p>In UNIX/Linux padre e figlio <strong>condividono</strong></p>
<ul>
<li>il codice sorgente [C];</li>
<li>tutti i descrittori del file;</li>
<li>user ID, group ID;</li>
<li>la root e la working directory;</li>
<li>le risorse di sistema e i limiti di utilizzo.</li>
</ul>
<p>Essi invece si <strong>distinguono</strong> per:</p>
<ul>
<li>il valore restituito dalla fork;</li>
<li>il PID:
<ul>
<li>il padre conserva il proprio;</li>
<li>il figlio ne ottiene uno nuovo.</li>
</ul>
</li>
<li>lo spazio dati, lo <em>heap</em> e lo <em>stack</em>:
<ul>
<li>in realtà i moderni SO utilizzano la tecnica <strong>copy-on-write</strong>;</li>
<li>la memoria è duplicata solo quando strettamente necessario, ovvero quando uno dei due processi effettua una scrittura.</li>
</ul>
</li>
</ul>
<h3>Come termina un processo</h3>
<p>Esistono cinque modi per terminare un processo in UNIX:</p>
<ul>
<li>eseguire una <code>return</code> nella funzione principale;</li>
<li>eseguire una <code>exit(int)</code> in una qualunque funzione;</li>
<li>eseguire una <code>_exit</code> o <code>_Exit</code>:
<ul>
<li>sinonimi definiti in ISO C o POSIX;</li>
<li>hanno effetti simili ma non identici alla <code>exit</code>, per esempio non avviene il flush delle unità logiche;</li>
</ul>
</li>
<li>richiamare <code>return</code> dal main dell'ultimo thread del processo;</li>
<li>richiamare <code>pthread_exit</code> dall'ultimo thread del processo.</li>
</ul>
<p>Chiaramente gli ultimi due metodi richiedono l'utilizzo dei thread, di cui parleremo in seguito.</p>
<p>Esistno poi dei metodi <strong>anormali</strong> di terminare un processo, e sono i seguenti tre:</p>
<ul>
<li>richiamare la funzione <code>abort</code> (che è in realtà un caso particolare del metodo successivo);</li>
<li>ricevere un segnale (<strong>signal</strong>) di terminazione (<code>^C</code>, <code>^D</code>, <code>SIGTERM</code>, <code>SIGKILL</code>, ...)</li>
<li>cancellare l'ultimo thread del processo;</li>
</ul>
<h4><code>wait</code> e <code>waitpid</code></h4>
<p>È possibile pr il processo padre attendere che i processi figli eseguano il loro codice e poi, solo dopo che tutti i figli hanno terminato, eseguire elle istruzioni. Per fare questo si utilizzano i <strong>segnali</strong> di cui abbiamo accennato qualcosa sopra.</p>
<p>Un segnale è un codice che può essere inviato a un processo e che questi uò decidere di interpretare o di ignorare. Alcuni segnali probabilmente sono già noti ai più, come il segnale <code>SIGKILL</code> meglio noto come <code>^C</code> su terminale.</p>
<p>Ebbene esistono vari segnali che possono essere utilizzati per i più svariati motivi. Un segnale ci interessa ora in particolare, il segnale <code>SIGCHLD</code>. Ci interessa perché questo segnale viene inviato al padre di un processo figlio quando esso termina l'esecuzione. Ovvero: <code>F</code> è figlio di <code>P</code>, quando <code>F</code> termina, <code>P</code> riceve il segnale <code>SIGCHLD</code> da <code>F</code>.</p>
<p>Il comportamento del padre, di default, è di ignorare il segnale del figlio, tuttavia è possibile gestirlo in modo semplice. Per gestire il segnale utilizzeremo le System-Call <code>wait</code> e <code>waitpid</code>. Richiamare <code>wait</code> significa attendere che il figlio invii il segnale senza eseguire altre operazioni. La differenza tra <code>wait</code> e <code>waitpid</code> è che la prima aspetta che un figlio termini, la seconda aspetta ch termini il figlio che gli si specifica come parametro.</p>
<p><strong>Le firme</strong></p>
<pre><code class="language-c">#include &lt;sys/wait.h&gt;

pid_t wait(int *statLoc);
</code></pre>
<p><strong>Attenzione</strong> La System-Call <code>wait</code> è bloccante, il ché significa che se i processi figli ci mettono tanto tempo per terinare la propria esecuzione, il processo padre resterà bloccato per tanto tempo. Potrebbe però essere necessario che il processo padre non rimanga bloccato, ovvero il programmatore protrebbe volte programare il processo padre per effettuare un <em>polling</em> in modo da verificare se qualcuno dei thread ha finito oppure no senza per questo restare bloccato. Questo è posibile grazie alla System-Call <code>waitpid</code> che, potenzialmente (vale a dire: a seconda di come uata) può non essere bloccante.</p>
<hr />
<p><strong>Coffee Break</strong></p>
<blockquote>
<p>O Tips&amp;Tricks</p>
</blockquote>
<p>Per inviare un segnale a un processo da terminale è possibile utilizzare il comando <code>kill</code> con la seguente sintassi.</p>
<p>Per inviare il segnale <code>SIGKILL</code>:</p>
<pre><code class="language-bash">kill &lt;pid&gt;
</code></pre>
<p>Per inviare un generico segnale specificandone il numero:</p>
<pre><code class="language-bash">kill -&lt;signal number&gt; &lt;pid&gt;
</code></pre>
<p>Per inviare un segnale specificandone il nome:</p>
<pre><code class="language-bash">kill -&lt;signal name&gt; &lt;pid&gt;
</code></pre>
<hr />
<h3><code>wait</code> nel dettaglio</h3>
<p>La System-Call <code>wait</code>, come abbiamo visto, restituisce un'entità di tipo <code>pid_t</code> che rappresenta il PID del processo che ha inviato il segnale. Tuttavia restituisce anche un secondo valore – <code>statloc</code>, passatogli per riferimento – che serve per determinare lo stato di uscita del processo e altre informazioni. Lo stato di uscita, tuttavia, non è necessariamente semplice da manipolare quando trattato come numero intero; a questo scopo è possibile usare delle macro. In particolare è possibile utilizzare la macro <code>WEXITSTATUS</code> per determinare il valore di uscita del processo. Per intenderci: quando si richiama <code>exit(n)</code> il processo terminato invierà al padre il segnale <code>SIGCHLD</code>, allorché il padre (che era in attesa per <code>wait</code>) sarà risvegliato e <code>WEXITSTATUS(statloc)</code> restituirà proprio <code>n</code>.</p>
<h3><code>waitpid</code> nel dettaglio</h3>
<p>La System-Call <code>waitpid</code> cerca di porre rimedio ad alcuni difetti di <code>wait</code>, ovvero:</p>
<ul>
<li>permette di non fermarsi se tutti i figli sono in esecuzione;</li>
<li>permette di attendere l'esecuzione di un figlio specifico.</li>
</ul>
<pre><code class="language-c">#include &lt;sys/wailt.h&gt;

pid_t waitpid (
    pid_t pid,
    int *statloc,
    int options
);
</code></pre>
<p>I parametri:</p>
<ul>
<li>
<p><code>pid</code> è il PID che si vuole aspettare;</p>
</li>
<li>
<p><code>*statloc</code> già lo conosciamo;</p>
</li>
<li>
<p><code>options</code> può essere utilizzato per specificare alcune opzioni, quali:</p>
<ul>
<li><code>WNOHANG</code> se il figlio non è terminato, non resta in attesa (versione non bloccante di <code>wait</code>);</li>
<li><code>WCONTINUED</code> e <code>WTRUNCATED</code> che permettono di conoscere lo stato di un figlio in condizioni particolari.</li>
</ul>
</li>
</ul>
<p><strong>Esempio di Control Flow Graph con wait</strong>
I grafi di controllo del flusso diventando del tipo:</p>
<center>
    <img src="src/i10.svg" />
</center>
<h2>Gli stati di un processo</h2>
<p>Un processo pu avere diversi stati:</p>
<ul>
<li><strong>New</strong>: il processo viene creato e sottomesso al SO;</li>
<li><strong>Runing</strong>: in esecuzione;</li>
<li><strong>Ready</strong>: ogicamente è pronto per essere eseguito, ma deve aspettare che si liberi la risorsa <em>processore</em>;</li>
<li><strong>Waiting</strong>: in attesa che si liberi una risorsa;</li>
<li><strong>Terminated</strong>: il processo ha finito di eseguire le proprie istruzioni e ha rilasciato le risorse che stava occupando.</li>
</ul>
<center>
    <img src="src/i11.svg" />
</center>
<p>Questa è solo un'idea di quello che è effettivamente il diagramma degli stati dei processi. Questo potrebbe essere trattato ad un livello di dettaglio superiore, oppure inferiore, a seconda del SO.</p>
<p>Il SO tiene traccia degli stati del processo con un <strong>Process Control BLock</strong> [<strong>PCB</strong>].</p>
<h2>Il <em>PCB</em></h2>
<p>Il process control block contiente:</p>
<ul>
<li>lo stato del processo;</li>
<li>il program counter (indirizzo della successiva istruzione da eseguire);</li>
<li>il PID;</li>
<li>lo stato dei registri dopo l'ultima istruzione eseguita dal processo;</li>
<li>i limiti di memoria che il processo può avere durante l'esecuzione del programma;</li>
<li>la lista dei file aperti dal programmprocesso;</li>
<li>... altre informazioni a seconda del SO.</li>
</ul>
<h2>Context Switching</h2>
<p>Una delle operazioni più importanti e delicate che il SO deve compiere è il context switching. Per CS si intende l'assegnazione della CPU ai processi in stato di Re.</p>
<p>Per assegnare la CPU è necssario:</p>
<ul>
<li>salvarne lo stato attuale nel PCB del processo che passa da Ru a Re | W;</li>
<li>caricarne lo stato precedentemente salvato sul PCB del processo che ora passa da Re a Ru.</li>
</ul>
<p>Il tempo impiegato per fare il CS è detto <strong>overhead</strong> ed è tempo non direttamente utile per eseguire alcun processo: è tempo <em>spreacato</em>. Questo tempo dipende dal tipo di HW utilizzato.</p>
<p>Ovviamente la programmazione concorrente è orientata al massimo utilizzo della CPU.</p>
<p>Si possono classificare i processi in modo da massimizzare l'utilizzo della CPU:</p>
<ul>
<li>I/O-Bound: processi che eseguono molte operazioni di lettura/strittura piuttosto che molti calcoli;</li>
<li>CPU-Boun: processi che richiedono molto tempo della CPU e poco per operazioni di I/O.</li>
</ul>
<p>Questa classificazione però non è molto efficiente quando si trata di elaboratori con CPU molto più veloci dei dispositivo di I/O o in contesti in cui i processi siano caratterizzati tutti nello stesso modo.</p>
<p>Per massimizzare il tempo di utilizzo della CPU si può ricorre all'ottimizzazione dello scheduler. Lo scheduler, si ricorda, è quella parte del SO che si occupa di scegliere a quali processi assegnare la CPU.</p>
<p>Lo scheduler può essere di diversi tipi:</p>
<ul>
<li><strong>a breve termine</strong>: seleziona prevalentemente processi er la CPU intervenendo molto frequentemente (nell'ordine dei $ms$). Va da sé che questo tipo di scheduler deve essere molto veloce;</li>
<li><strong>a lungo termine</strong>: interviene meno frequentemente rischedulando in tempi nell'ordine dei $s—m$. In pratica controlla il grado di multiprogrammazione.</li>
</ul>
<h2>Esecuzione parallela / concorrente</h2>
<p>Distinguiamo tra esecuzione parallela ed esecuzione concorrente. Per esecuzione concorrente si intende l'esecuzione di più processi su una stessa CPU; per esecuzione parallela si intende l'esecuzione di più processi su diverse CPU. L'esecuzione può anche essere ibrida.</p>
<p>Perché si passa (storicamente) dall'esecuzione concorrente a quella parallela?</p>
<p>La risposta è che si è arrivati al limite del <em>frequency scaling</em>. La potenza dissipata dai processori si calcola come:
$$
P = C \cdot V^2 \cdot f.
$$</p>
<p>È evidente che l'aumento della frequenza influisce pesantement sulla potenza dissipata dal processore; nel 2004, Intel ha terminato di produrre processori quali Tejas e Jayhawh a causa dell'eccessivo consumo di potenza.</p>
<h3>Classificazione dele architetture di elaborazione parallele</h3>
<ul>
<li>Parzialmente superata in quanto alcune architetture sono miste o non classificabili direttamente..</li>
<li>Ancora in uso in quanto semplice e conmprensibile.</li>
</ul>
<h4>SISD</h4>
<blockquote>
<p>Single Instruction Single Data</p>
</blockquote>
<p>La singola istruzione viene eseguita su un singolo dato.</p>
<h4>SIMD</h4>
<blockquote>
<p>Single Instruction Munltiole Data</p>
</blockquote>
<p>La stessa istruzzione viene eseguita su diversi dati (e.g. GPU).</p>
<h4>MISD</h4>
<blockquote>
<p>Multiple Instructions Single Data</p>
</blockquote>
<p>Più istruzioni vengono eseguite sugli stessi dati (e.g. unità di elaborazione ridondanti).</p>
<h4>MIMD</h4>
<blockquote>
<p>Multiple Instructions Multiple Data</p>
</blockquote>
<p>Istruzioni diverse vengono eseguite su dati differenti (e.g. PC).</p>
<h3>Efficienza</h3>
<p>A un osservatore poco esperto potrebbe sembrare che l'aumento di efficienza possa essere infinito, come se un lavoro che una CPU impiega in tempo $t$, una CPU con il doppio dei core impiegherebbe $\dfrac t2$, e così via. Ovviamente non è così, ci sono dei limiti. Possiamo indicare il limite di aumento dell'efficienza con la seguente espressione:
$$
\lim_{P \rightarrow +\infty}
\dfrac{1}{\dfrac{1 - \alpha}{P} + \alpha} =
\dfrac 1\alpha
$$</p>
<p>laddove con $P$ si indica il numero di processori e con $\alpha$ la quantità di istruzioni non parallelizzabili (in termini percentuali).</p>
<p>Da qui si può intuire che nel programma è identificabile un <strong>percorso critico</strong>.</p>
<h2>Controllo avanzato</h2>
<p>Fino ad ora abbiamo visto esempi di programmazione concorrente in cui il processo padre e il processo figlio eseguono lo stesso codice (quello del padre) in cui a un certo punto viene richiamata la System-Call <code>fork()</code> e viene eseguita una selezione per determinare chi sia il figlio e chi il padre in modo tale differenziarne il comportamento.</p>
<p>Esistoo altre System-Call che servono per far eseguire al figlio un codice totalmente diverso da quello del padre. Ne esistono sei versioni:</p>
<ul>
<li><code>execl</code>;</li>
<li><code>execv</code>;</li>
<li><code>exece</code>;</li>
<li><code>execlp</code>;</li>
<li><code>execvp</code>;</li>
<li><code>execpe</code>.</li>
</ul>
<p>Tutte iniziano con <code>exec</code>, i suffissi indicano:</p>
<ul>
<li><code>l</code> (list); la funzione riceve una lista di parametri;</li>
<li><code>v</code> (list); la funzione riceve un vettore di argomenti <code>argv[]</code>;</li>
<li><code>p</code> (path); la funzione riceve il path del file da eseguire e lo rintraccia tramite la variabile di ambiente <code>PATH</code>;</li>
<li><code>e</code> (list); la funzione riceve un vettore di environment <code>envp[]</code> invece di utilizzare l'environment corrente;</li>
</ul>
<p>Il valore di ritorno di tale funzione non restituisce niente in caso di successo, mentre <code>-1</code> in caso di successo.</p>
<p>Il parametro <code>argv[]</code> è analogo alla lista di argomenti ricevuta dal <code>main(int argc, char** argv)</code> salvo il fatto che in questo caso non è presente un <code>argc</code>. Per determinare quanti parametri sono stati passati, il protocollo prevede che l'utimo argomento sia un puntatore con valore <code>NULL</code>.</p>
<p>Queste System-Call hanno la caratteristica di eseguire solo il processo fisglio senza tornare al processo padre.</p>
<pre><code class="language-c">int main(int argc, char** argv) {
    printf(&quot;Start...&quot;);
    
    execl(&quot;/bin/ls&quot;, &quot;ls&quot;, &quot;/&quot;, NULL);

    // Will not be executed
    printf(&quot;End.&quot;);

    return 0;
}
</code></pre>
<p>Se si vuole eseguire un programma esterno e poi far restituire il controllo al processo padre, bisogna usare la funzione <code>system()</code>:</p>
<pre><code class="language-c">int system(const char *cmd) {
    int status;
    pid_t pid;

    if(cmd == NULL) {
        status = 1;

    } else if((pid = fork()) &lt; 0) {
        status = -1;

    } else if(!pid) { // Child
        execl(&quot;/bin/sh&quot;, &quot;sh&quot;, &quot;-c&quot;, cmd, NULL);
        _exit(127);

    } else {
        while(waitpid(pid, &amp;status, 0) &lt; 0) {
            if(errno != EINTR) {
                status = -1;
                break;
            }
        }
        
    }

    return status;
}
</code></pre>
<h2>Interrupt</h2>
<p><em>def.</em> Con <strong>Interrupt</strong> si intende l'interruzione del procedimento corrente dovuto al verificarsi di un evento strordinario.</p>
<p>Queta interruzione può essere causata da</p>
<ul>
<li>dispositivi hardware che inviano una richiesta di servizio alla CPU;</li>
<li>processi software che richiedono l'esecuzione di una particolare operazione tramite una System-Call.</li>
</ul>
<h3>Segnale</h3>
<p><em>def.</em> Un <strong>segnale</strong> può essere:</p>
<ul>
<li>un interrupt software;</li>
<li>un evento di sistema inviato a un processo da un altro processo.</li>
</ul>
<p>I segnali permettono di gestire eventi asincroni notificando il verificarsi di eventi particolari. I segnali possono venire utilizzati per trasferire informazioni tra processo (vedere §IPC).</p>
<p>I segnali hanno comportamenti di default (ignorare, interrompere l'esecuzione, ecc.). Di alcuni segnali può essere però modificato il comportamento di default (di altri altri, come <code>SIGKILL</code> non può essere modificato il comportamento di default per motragioni di sicurezza).</p>
<p>I segnali non sono perfetti. Anche se il loro comportamento è stato mogliorato nel tempo, essi hanno ancora dei difetti strutturali. In particolare, i segnali potrebbero andare persi senza essere consegnati al SO.</p>
<p>Lo standard POSIX definisce l'elenco dei segnali UNIX. Esso tova sintesi nel file header <code>&lt;signal.h&gt;</code>.</p>
<h3>Ciclo di vita</h3>
<h4>Generazione</h4>
<p>Il segnale viene generato dalla System-Call <code>kill</code>.</p>
<h4>Consegna</h4>
<p>Fase a carico del SO. Il segnale non sempre viene consegnato, per esempio — come già detto in precedenza — <code>SIGKILL</code> non viene consegnato, ma viene elaborato direttamente dal SO che tenterà di feterminare il processo destinatario del segnale.</p>
<h4>Gestione</h4>
<p>Il processo che riceve il segnale può gestirlo attraverso un sistema di funzioni dedicato.</p>
<h3>System-Call per la gestione dei segnali</h3>
<ul>
<li><code>signal</code>: istanzia un gestore di segnali;</li>
<li><code>kill</code>: invia un segnale;</li>
<li><code>pause</code>: sospende un processo fino che non questi non riceve un segnale;</li>
<li><code>alarm</code>: invia un <code>SIGALRM</code> dopo un tempo prestabilito;</li>
</ul>
<h4><code>signal</code></h4>
<pre><code class="language-c">#include &lt;signal.h&gt;

void (*signal (int sig, void (*func)(int)))(int);
</code></pre>
<p>Richiamare la signal passando il codice di un segnale e una funzione significa specificare quale funzione deve essere eseguita quando il processo riceverà un segnale. La funzione passata a <code>signal</code> prende compe parametro il codice del segnale.</p>
<p>Viene restituito il puntatore alla <em>signal handler</em> precedente, <code>SIG_ERR</code> in caso di errore.</p>
<p>Si può:</p>
<ul>
<li>impostare il <em>signal handler</em> di default:</li>
</ul>
<pre><code class="language-c">signal(&lt;n&gt;, SIG_DFL);
</code></pre>
<ul>
<li>ignorare il segnale:</li>
</ul>
<pre><code class="language-c">signal(&lt;n&gt;, SIG_IGN);
</code></pre>
<p>Esempio:</p>
<pre><code class="language-c">#include &lt;signal.h&gt;
#include &lt;stdio.h&gt;
#include &lt;unistd.h&gt;

void manager(int sig) {
    printf(&quot;Ricevuto il segnale %d\n&quot;, sig);
    return;
}

int main() {
    (void) signal(SIGINT, manager);
    while(1) {
        printf(&quot;main: Hello!\n&quot;);
        sleep(1);
    }

    return 0;
}
</code></pre>
<h4>SIGCHLD</h4>
<p>Se si decide di ignorare il segnale <code>SIGCHLD</code>, la System-Call <code>wait</code> restituirà sempre <code>-1</code>.</p>
<pre><code class="language-c">#include &lt;signal.h&gt;
#include &lt;stdio.h&gt;

int main() {

    signal(SIGCHLD, SIG_IGN);

    if(!fork()) {
        sleep(1);

    } else {
        pid_t pid = wait((int *)NULL);
        printf(&quot;Pid: %d\n&quot;, pid);

    }

    return 0;
}
</code></pre>
<p>L'esempio produrrà sempre output:</p>
<pre><code class="language-txt">Pid: -1

</code></pre>
<h3>Inviare un segnale</h3>
<p>Per inviare un segnale si utilizza la System-Call <code>kill</code>:</p>
<pre><code class="language-c">#include &lt;signal.h&gt;

/* Sends to the process X the signal `sig`. 
 * The process X should be:
 * If sig &gt; 0, Then: `sig`;
 * If sig == 0, Then: all process having group id equals to the caller's;
 * If sig &lt; 0, Then: the process having group id equals to `|sig|` (and to
 * whom the signal can be sent);
 * If sig == -1, Then: to all system's process (to whom the signal can be sent).
 */
int kill(pid_t pid, int sig);
</code></pre>
<p>Si può anche usare <code>raise</code> per inviare un segnalle al processo stesso:</p>
<pre><code class="language-c">raise(sig);
</code></pre>
<p>Equivalente a:</p>
<pre><code class="language-c">kill(getpid(), sig);
</code></pre>
<h3>Aspettare un segnale</h3>
<p>Per aspettare un generico segnale:</p>
<pre><code class="language-c">pause();
</code></pre>
<h3>Ricevere un segnale dopo un certo intervallo di tempo</h3>
<pre><code class="language-c">#include &lt;unistd.h&gt;

unsigned int alarm(unsigned int seconds);
</code></pre>
<p>Quando richiamata imposta un timer che invia al chiamante un <code>SIGALRM</code> (Alarm).</p>
<h2>Funzioni rientranti e race condition</h2>
<p>Cosa succede se il signal handler effettua una operazione non compatibile con il flusso di esecuzione originale oppure due processi cercano uno di leggere e l'altro di scrivere la/sulla stessa variabile?</p>
<p>Il secondo caso, in particolare, si dice <strong>race condition</strong>.</p>
<h2>IPC</h2>
<h3>Memoria condivisa</h3>
<ul>
<li>File su disco</li>
<li>File mappati (file pointer che non servono per lavorare su disco ma su RAM)</li>
</ul>
<h3>Scambio di messaggi</h3>
<ul>
<li>Com. Diretta/Indiretta</li>
<li>Com. Diretta</li>
<li>Com. Indiretta</li>
</ul>
<h3>Sincronizzazione</h3>
<p>Sia l'invio che la ricezione dei messaggi possono essere <em>sincroni</em> (bloccanti) o <em>asincroni</em> (non bloccanti).</p>
<h3>Capacità</h3>
<ul>
<li>Zero</li>
<li>Limitata</li>
<li>Illimita</li>
</ul>
<h3>Canali di comunicazione in UNIX</h3>
<ul>
<li>Half-Duplex pipes</li>
<li>FIFOs</li>
<li>Full-Duplex Pipes</li>
<li>Named- Full-Duplex Pipes</li>
<li>Message Queues</li>
<li>Semaphores</li>
<li>Sockets</li>
<li>Streams</li>
</ul>
<h3>Pipe</h3>
<p>Le pipe, in generale, sono canali di comunicazione Half-Duplex (walkie-talike). Esse possono essere utilizzate per comunicare tra processi con un antenato comune.</p>
<pre><code class="language-c">#include &lt;unistd.h&gt;

int pipe(int fileDescr[2]);
</code></pre>
<p>La System-Call <code>pipe</code> crea una pipe. Dopo aver creato la pipe, il padre può clonarsi e il fliglio ne condividerà la pipe. Il file descriptor con indice <code>0</code> serve per leggere, quello con <code>1</code> per scrivere. Si possono utilizzare le System-Call <code>read</code> e <code>write</code>.</p>
<p>La pipe ha capienza limitata, donque la <code>write</code> può bloccarsi. Se la pipe è vuota la <code>read</code> si blocca. Il meccanismo di comunicazione, oltre che half-duplex, è sincrono.</p>
