<h1>Il comando <code>find</code></h1>
<p>Si tratta di un comando che permette di elencare tutti i file contenuti in un direttorio. Esso accetta quattro tipi di parametri:</p>
<ul>
<li>il direttorio;</li>
<li>delle opzioni;</li>
<li>delle azioni.</li>
</ul>
<p>Il direttorio è quesllo di cui elencare i file, le opzioni riguardano le caratteristiche che devono avere i file elencati (nome, peso, ecc.).</p>
<h2>Opzioni</h2>
<pre><code class="language-bash">find dir -name pattern # -name is an option
find dir -regex expr # -regex is an option
find dir -regextype type # -regextype is an option
find dir -regextype type # ''
find dir -ctime [+, -]n # ''
find dir -atime [+, -]n # ''
find dir -mtime [+, -]n # ''
find dir -size [+, -]n[bckwMG] # ''
find dir -type [fplsd] # ''
find dir -user user # ''
find dir -group group # ''
find dir -readable # ''
find dir -writable # ''
find dir -executable # ''
find dir -mindepth n # ''
find dir -maxdepth n # ''
find dir -quit # ''
</code></pre>
<p>Esempi:</p>
<pre><code class="language-bash">find . -name &quot;*.c&quot;
find /home/mattia/Documenti/source -regex &quot;\.c$&quot;
find . -size +500c # Tutti i file con dimensione maggiore di 500B
find . -regextype type
find . -name &quot;*.c&quot; -readable
find . -name &quot;*.c&quot; -readable -quit
</code></pre>
<h2>Azioni</h2>
<p>Le azioni permettono di eseguire un comando su ognuno dei file trovati da find:</p>
<pre><code class="language-bash">find dire [-option [arg] [...]] -exec command arg1 arg2 arg3 \;
</code></pre>
<p>laddove tra gli argomenti del comando <code>command</code> può essere specificato il parametro speciale <code>\{}</code> o <code>'{}'</code> che indica il nome del file trovato da find.</p>
<p>Esempio:</p>
<pre><code class="language-bash">find . -name *.txt -exec cat \{} \;
</code></pre>
<p>eseguira <code>cat</code> su ognuno dei file <code>*.txt</code> trovati nel direttorio <code>.</code>.</p>
