<h1>Filtri</h1>
<p>Si tratta di comandi che permettono di fare ricerche su file di testo.</p>
<h2>Cut</h2>
<pre><code class="language-bash">cut [options] file
</code></pre>
<h3>Opzioni</h3>
<ul>
<li><code>--delimiter</code>, <code>-d</code>: il delimitatore delle colonne;</li>
<li><code>-f</code>: le colonne da mostrare;</li>
</ul>
<pre><code class="language-bash"># To show the columns 1, 2, 3, 7, 9 of a .csv file
cut -f 1-3,7,9 -d &quot;;&quot;
</code></pre>
<h2>Tr</h2>
<pre><code class="language-bash">tr [options] set1 set2
</code></pre>
<pre><code class="language-bash"># To replace 'ab' with 'AB':
tr ab AB
</code></pre>
<h2>Uniq</h2>
<pre><code class="language-bash">uniq [options]
</code></pre>
<pre><code class="language-bash"># To print distinct lines
uniq &lt; file

# To count distinct lines
uniq --count &lt; file

# To show only the repeaed lines
uniq --repeated &lt; file

# Ti skip fields for comparing
uniq --skip-fields=N &lt; file
uniq -f N &lt; file

# To ignore case
uniq --ignore-case &lt; file
uniq -I &lt; file
</code></pre>
<h2>Basename</h2>
<pre><code class="language-bash">basename [options]
</code></pre>
<pre><code class="language-bash"># To show a file name
basename path
</code></pre>
<h2>Sort</h2>
<pre><code class="language-bash">sort [options] file
</code></pre>
<ul>
<li><code>-r</code>: reverse;</li>
<li><code>-n</code>: numerica;</li>
<li><code>-k N</code>: ordinamento in base al campo N.</li>
</ul>
<h2>Grep</h2>
<pre><code class="language-bash">grep [options]
</code></pre>
<ul>
<li><code>-E expr</code>: RegEx;</li>
</ul>
<h2>Aspell</h2>
<pre><code class="language-bash">aspell [options] -c file
</code></pre>
<ul>
<li><code>-d LANG</code>: per selezionare la lingua (e.g. <code>-d it</code>, <code>-d en</code>).</li>
</ul>
