<h1>I thread</h1>
<p>Esistono deiversi casi di programmazione parallela in cui sarebbe utile avere</p>
<ul>
<li>costi di creazione minori di quelli di un processo;</li>
<li>un unico spazio di indirizzamento in modo da condividere i dati senza pipe e senza duplicare la memoria;</li>
<li>tracce multiple di controllo/esecuzione all'interno di tale spazio di indirizzamento.</li>
</ul>
<p>I thread vengono introdotti con lo standard POSIX 1003.1c e vengono definiti come sezioni di un processo che vengono <strong>shedulate ed eseguite inipendentemente</strong> dal processo (o thread) che le ha generate. Un thread può <strong>condividere il proprio spazio di indirizzamento con altri thread</strong>.</p>
<h2>Dati</h2>
<h3>Condivisi</h3>
<ul>
<li>Sezione di codice</li>
<li>Sezione di dati</li>
<li>Risorse del sistema</li>
</ul>
<h3>Privati</h3>
<ul>
<li>Program counter e registri</li>
<li>Stack</li>
</ul>
<p>Il fatto che la memoria sia condivisa, rende più facile fare pasticci. I programmi devono essere <strong>thread-safe</strong>. Questo significa che il programmatore deve scrivere il programma in modo tale per cui le risorse condivise vengano accedute in modo sincronizzato.</p>
<h2>Modelli</h2>
<p>Esistono tre modelli per gestire i thread:</p>
<ul>
<li>livello kernel: tutto viene eseguito tramite System-Call:
<ul>
<li>vantaggi: dato che il SO è a conoscenza del thread la schedulazione ne risulterà più performante. La schedulazione è efficacie anche nel caso di thread bloccanti, in quanto in caso di blocco potrebbe senza problemi procedere schedulando un altro thread;</li>
<li>svantaggi: il kernel dovrebbe svolgere un lavoro molto oneroso;</li>
</ul>
</li>
<li>livello utente: il kernel non è a conoscenza del thread, essi sono gestiti da una libreria di funzioni:
<ul>
<li>vantaggi: carico meno oneroso (tabelle dei thread più piccole), ogni processo può decidere come gestire i propri thread in base alle caratteristiche dei thread;</li>
<li>svantaggi: thread bloccanti non gestibili, il kenel schedula solo processi, senza sapere dei flussi di controllo/esecuzione. C'è il rischio di non avere parallelismo</li>
</ul>
</li>
<li>ibrido: modo per unire i vantaggi dei metodi precedenti. Le scelte sulla schedulazione avviene in parte a livello utente, in parte dal kernel (SO moderni). Il kernel schedula dei <strong>kernel-thread</strong>, l'utente può decidere di mappare i propri thread su un <em>kernel-thread</em>.</li>
</ul>
<hr />
<p><strong>Coffee Break</strong></p>
<blockquote>
<p>O Tips&amp;Tricks</p>
</blockquote>
<p><strong>A metà tra i due mondi</strong></p>
<p>Una <code>fork</code> duplica solo il thread o il processo con tutti i thread?</p>
<p><code>exec</code> uccide tutti o solo il thread che la chiama?</p>
<p>Un segnale viene ricevuto da tutti?</p>
<hr />
<h2>Libreria per thread</h2>
<p>Ne esistono tre:</p>
<ul>
<li>POSIX;</li>
<li>Windows;</li>
<li>Java: che generalmente si appoggia su una delle due precedenti.</li>
</ul>
<hr />
<p>Di qui in poi si utilizza POSIX</p>
<hr />
<p>In POSIX, attraverso <strong>pthread</strong>, il thread è una funzione che viene lanciata in modo particolare (e che ha una firma particolare).</p>
<p><code>pthread</code> permette di:</p>
<ul>
<li>creare e manipolare thread;</li>
<li>sincronizzare thread;</li>
<li>proteggere le risorse comuni ai thread;</li>
<li>schedulare thread;</li>
<li>distruggere thread.</li>
</ul>
<p>Vengono in essa definita sessanta funzioni di gestione (non le elenchiamo). Tutte le funzioni hanno nome <code>pthread_*</code>.</p>
<h2>Setup</h2>
<p>Per programmare in C è necessario includere la libreria <code>pthread.h</code> e deve essere specificata curante il linking la libreria <code>-lpthread</code>.</p>
<h2><code>pthread</code></h2>
<p>Ogni thread ha un id di tipo <code>pthread_t</code>, il quale è un tipo di dato opaco (dipende dall'implementazione). Il thread id, in oltre, ha significato solo all'interno del processo, non tra thread di processi diversi. Ogni thread può conoscere il proprio thread id con <code>phread_t pthread_self(void)</code>.</p>
<p>Per creare un thread è necessario usare la funzione</p>
<pre><code class="language-c">int pthread_create(
    pthread_t *tid,
    cont pthread_attr_t *attr,
    void *(*startRoutine)(void *),
    void *arg
);
</code></pre>
<p>Esempio</p>
<pre><code class="language-c">#include &lt;stdio.h&gt;
#include &lt;pthread.h&gt;


void *foo(void *str) {
    printf(&quot;%s&quot;, (char *)str);
    return NULL;
}

int main(void) {
    void *arg = (void *)&quot;Hello from the new thread!&quot;;
    pthread_t tid;

    pthread_create(&amp;tid, NULL, &amp;foo, arg);

    pthread_exit(NULL);
}
</code></pre>
<p>Se il <code>main</code> fa return, si interrompe l'intero processo; se viene chiamata la <code>exit</code>, si interrompe l'intero processo. Per uscire da un unico thread si utilizza <code>pthread_exit(pthread_t *tid)</code> a cui si passa <code>NULL</code> per interrompere il processo chiamante o il thread id del thread che si desidera interrompere.</p>
<p>Esempio di passaggio di parametri tramite vettore di strutture:</p>
<pre><code class="language-c">#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;pthread.h&gt;

typedef struct {
    int n;
    char *str;
} ts;

void *foo(void *arg) {
    ts *data = (ts *)arg;
    printf(&quot;Hello from thread %d: %s\n&quot;, data-&gt;n, data-&gt;str);
    return NULL;
}

int main(void) {
    const int N = 5;
    int i = 0;
    ts *arg = (ts *) malloc(sizeof(ts) * 5);
    pthread_t tid;

    arg[0].str = &quot;It's a beatiful day!&quot;;
    arg[1].str = &quot;The sun is shining!&quot;;
    arg[2].str = &quot;Shit happens!&quot;;
    arg[3].str = &quot;Be the change you want to see in the world.&quot;;
    arg[4].str = &quot;Always try to be nice, but never fail to be kind.&quot;;
    
    for(i = 0; i &lt; N; ++i) {
        arg[i].n = i;
        pthread_create(&amp;tid, NULL, &amp;foo, (void *)&amp;(arg[i]));
    }

    pthread_exit(NULL);
}
</code></pre>
<p>Output prodotto:</p>
<pre><code class="language-txt">Hello from thread 0: It's a beatiful day!
Hello from thread 2: Shit happens!
Hello from thread 1: The sun is shining!
Hello from thread 3: Be the change you want to see in the world.
Hello from thread 4: Always try to be nice, but never fail to be kind.
</code></pre>
<h2>Attese</h2>
<p>Per attendere un processo si usa la funzione <code>pthread_join(pthread_t *tid, void **valuePtr)</code>. Si possono attendere solo i thread <strong>joinable</strong>, si può eventualmente usare <code>pthread_detach</code> per rendere un thread <strong>detached</strong>, cioè non joinable.</p>
<p>Con <code>pthread_join</code> si può catturare il valore restituito dalla funzione principale del thread.</p>
