<h1>La shell</h1>
<blockquote>
<p>Automatizzare l'esecuzione dei comandi</p>
</blockquote>
<p>Sappiamo già che la shell è la parte puiù esterna del SO e che permettono di eseguire comandi.</p>
<p>La shell è un normale processo utente che dato un input produce un output. Le shell permettono poi di scrivere degli script per eseguire più comandi. Questi script prevedono anche la presenza di costrutti tipici della programmazione.</p>
<p>Alcune shell:</p>
<ul>
<li>Bourne Shell: <code>sh</code>;</li>
<li>C-shell: <code>csh</code>;</li>
<li>Korn shell: <code>ksh</code>;</li>
<li>Tahoe C-shell: <code>tcsh</code>;</li>
<li>Bourne Again SHell: <code>bash</code>, standardi negli ambienti GNU/Linux;</li>
<li>Z Shell: <code>zsh</code>, default su MacOS, molto utilizzata su sistemi GNU/Linux;</li>
</ul>
<p>Noi ci occuperemo di bash.</p>
<p>Ogni SO ha più shell disponibili, è possibile trovarne l'elenco nel file <code>/etc/shells</code>.</p>
<p>Si possono installare altre shell ed è possibile impostare la shell di default per l'utente con il comando <code>chsh</code>.</p>
<h2>File di avvio</h2>
<p>Esistono dei file che vengono interpretati all'avvio della shell. Essi si dividono in due categorie:</p>
<ul>
<li>file di avvio senza login:
<ul>
<li><code>~/.bashrc</code></li>
</ul>
</li>
<li>file di avvio con login:
<ul>
<li>comandi globali:
<ul>
<li><code>/etc/profile</code></li>
</ul>
</li>
<li>comandi utente:
<ul>
<li><code>~/.bash_profile</code></li>
<li><code>~/.bash_login</code></li>
<li><code>~/.profile</code></li>
</ul>
</li>
</ul>
</li>
</ul>
<h2>Alcune regole per lo scripting</h2>
<pre><code class="language-bash"># To set the variable myVar
myVar=&quot;Value&quot;

# To print the variable myVar
echo $myVar
echo &quot;$myVar&quot;

# To print &quot;$myVar&quot;
echo \$myVar

# To set myVar to the output of command `cat file.txt`
myVar=$(cat file.txt)
myVar=`cat file.txt`

# To set myVar and mke it a global variable
export myVar=&quot;Value&quot;
</code></pre>
<h2>History</h2>
<p>Tutte le shell memorizzano l'elenco dei comandi impartiti (con una lunghezza massima).</p>
<pre><code class="language-text">mattia@MacBook-Air-di-Mattia ~ % history
  987  echo 2021-05-31*
  988  echo 2021-05-31*8*
  989  echo 2021-05-31*08*
  990  ffmpeg -i 2021-05-31*08* army_dogtags.mp4
  991  echo 2021-05-31*8*
  992  echo 2021-05-31*14*
  993  ffmpeg -i 2021-05-31*14* army_dogtags.mp4
  994  exit
  995  script/add*
  996  script/add*
  997  script/add*
  998  gnuchess
  999  chess
 1000  brew install gnuchess
 1001  cat /etc/shells
 1002  chsh
mattia@MacBook-Air-di-Mattia ~ % 
</code></pre>
<p>Impartendo il comando <code>!&lt;N&gt;</code> dove con <code>&lt;N&gt;</code> si intende un numero, è possibile rieseguire il comando nello storico con numero <code>N</code>.</p>
<pre><code class="language-text">mattia@MacBook-Air-di-Mattia ~ % !1001
cat /etc/shells
# List of acceptable shells for chpass(1).
# Ftpd will not allow users to connect who are not using
# one of these shells.

/bin/bash
/bin/csh
/bin/dash
/bin/ksh
/bin/sh
/bin/tcsh
/bin/zsh
mattia@MacBook-Air-di-Mattia ~ % 
</code></pre>
<p>Impartendo <code>!&lt;l&gt;</code> dove con <code>&lt;l&gt;</code> si intende una lettera, è possibile eseguire l'ultimo comando che inizia con quella lettera:</p>
<pre><code class="language-text">mattia@MacBook-Air-di-Mattia ~ % !c
cat /etc/shells
# List of acceptable shells for chpass(1).
# Ftpd will not allow users to connect who are not using
# one of these shells.

/bin/bash
/bin/csh
/bin/dash
/bin/ksh
/bin/sh
/bin/tcsh
/bin/zsh
mattia@MacBook-Air-di-Mattia ~ %
</code></pre>
<h2>Alias</h2>
<p>Impartendo <code>alias A=&quot;X&quot;</code>, digitando A si potrà eseguire X.</p>
<pre><code class="language-text">mattia@MacBook-Air-di-Mattia ~ % please
zsh: command not found: please
mattia@MacBook-Air-di-Mattia ~ % alias please=&quot;sudo&quot;
mattia@MacBook-Air-di-Mattia ~ % please htop
Password:
</code></pre>
<p>Per eliminare un alias si può eliminare con <code>unalias A</code>.</p>
<pre><code class="language-text">mattia@MacBook-Air-di-Mattia ~ % unalias please
mattia@MacBook-Air-di-Mattia ~ % please
zsh: command not found: please
mattia@MacBook-Air-di-Mattia ~ % 
</code></pre>
<h2>Script per principianti</h2>
<p>Nella prima riga degli script è possibile definire la shell che deve eseguire lo script (shell per cui lo script è stato scritto):</p>
<pre><code class="language-bash">#!/bin/bash
</code></pre>
<h3>Debug</h3>
<p>È possibile eseguire il debug (pseudo) dello script nel seguente modo: anziché eseguire lo script da <code>/bin/bash</code>, specificare l'opzione <code>/bin/bash -&lt;x&gt;</code>, dove con <code>-&lt;x&gt;</code> si intende:</p>
<ul>
<li><code>-o noexec</code>, <code>-n</code>: esegue un controllo sintattico senza eseguire i comandi;</li>
<li><code>-o verbose</code>, <code>-v</code>: visualizza i comandi eseguiti;</li>
<li><code>-o xtrace</code>, <code>-x</code>: visualizza la traccia di esecuzione dell'intero script;</li>
<li><code>-o nounset</code>, <code>-u</code>: riporta un errore per variabile non definita.</li>
</ul>
<p>Se non si vuole eeguire il debug dell'intero script, ma solo un debug parziale, si può impartire <code>set -o &lt;...&gt;</code> all'interno do dello script e poi <code>set +o &lt;...&gt;</code>.</p>
<h3>Alcuni script di esempio</h3>
<p>Semplici comandi in sequenza:</p>
<pre><code class="language-bash">#!/bin/bash

rm -rf test/
mkdir test/
cp * test/
ls test/

exit 0
</code></pre>
<p>Con <code>echo $</code> è possibile determinare con quale codice è terminato un programma/script.</p>
<p>All'interno di uno script di bash si indica con <code>$n</code> ciò che in <code>C</code> si indica generalmente con <code>argv[n]</code>. Provare lo script:</p>
<pre><code class="language-bash">echo &quot;$0 $1 $2 $3 $4 $5 $6 $7 $8 $9&quot;
</code></pre>
<p>Si indica con <code>$$</code> il PID del programma in esecuzione.</p>
<pre><code class="language-bash">v=7+5
echo $v # Prints &quot;7+5&quot;

let v=7+5
echo $v # Prints 12
</code></pre>
<h3>Leggere da tastiera</h3>
<pre><code class="language-bash">read v1 v2
echo $v1
echo $v2
</code></pre>
<pre><code class="language-bash">read
echo $REPLY
</code></pre>
<p>Script che legge una stringa e ne stampa la lunghezza:</p>
<pre><code class="language-bash">#|/bin/bash
read
echo $REPLY | wc -c
</code></pre>
<h3>Costrutto condizionale</h3>
<pre><code class="language-bash">if condExpr
then
    # ...
    # ...
    # ...
elif condExpr
then
    # ...
    # ...
    # ...
fi
</code></pre>
<p>L'espressione condizionale:</p>
<pre><code class="language-bash">[ test op param ]
</code></pre>
<p>Gli poeratori:</p>
<p>|Operatore|Significato|
|:-------:|:----------|
|<code>-eq</code>|==
|<code>ne</code>|≠
|<code>-gt</code>|&gt;
|<code>-ge</code>|≥
|<code>-lt</code>|&lt;
|<code>-le</code>|≤
|<code>!</code>|¬
|<code>-d</code>|È un direttorio
|<code>-f</code>|È un file regolare
|<code>-e</code>|L'argomento esiste
|<code>-r</code>|L'argomemento ha il permesso di lettura
|<code>-w</code>|L'argomento ha il permesso di scrittura
|<code>-x</code>|L'argomento ha il permesso di esecuzione;
|<code>-s</code>|L'argomento ha dimensione nulla.
|<code>-a</code>| &amp;&amp;
|<code>-o</code>| ||
|<code>!</code>|!
|<code>=</code>|!strcmp
|<code>!=</code>|strcmp
|<code>-n</code>|Stringa non nulla
|<code>-z</code>|Stringa non vuota</p>
<h3>Costrutto iterativo</h3>
<pre><code class="language-bash">for var in [list]
do
    # ...
    # ...
    # ...
done
</code></pre>
<p>Esempio:</p>
<pre><code class="language-bash">for var in $*
do
    echo -n &quot;$var &quot;
done

echo &quot;&quot;
</code></pre>
<pre><code class="language-bash">while [ cond ]
do
    # ...
    # ...
    # ...
done
</code></pre>
<p>Esempio:</p>
<pre><code class="language-bash">#/bin/bash

limit=10
var=0

while [ &quot;$var&quot; -lt &quot;$limit&quot; ]
do
    echo &quot;Here we go again $var&quot;
    let var=var+1
done
</code></pre>
<p>Sul ciclo while è possibile eseguire la redirezione dell'in/out.</p>
<p>Redirezione dell'OUT:</p>
<pre><code class="language-bash">while [ cond ]
do
    # ...
    # ...
    # ...
done &gt; fileout
</code></pre>
<p>Redirezione dell'IN:</p>
<pre><code class="language-bash">while read row
do
    # ...
    # echo $row
    # ...
done &lt; filein
</code></pre>
<p>Redirezione di IN e OUT:</p>
<pre><code class="language-bash">while read row
do
    # ...
    # echo $row
    # ...
done &lt; filein &gt; fileout
</code></pre>
<p>Loop infinito:</p>
<pre><code class="language-bash">while :
do
    # ...
done
</code></pre>
<h3>Vettori</h3>
<p>Per inizializzare un vettore è sufficiente inizializzarne un elemento:</p>
<pre><code class="language-bash">n[0]=&quot;value&quot;
</code></pre>
<p>Il numero di elementi di un vettore è valutabile con</p>
<pre><code class="language-bash">${#name[*]}
</code></pre>
<p>esempio di utilizzo di un vettore:</p>
<pre><code class="language-bash">vet=(1 2 5 hello)
echo ${vet[0]}
echo $vet # Prints the first element
echo ${vet[*]} # Prints all the element
</code></pre>
