<h1>Sincronizzazione</h1>
<p>Siamo arrivati al punto in cui diversi thread vengono eseguiti da uno stesso processo. Abbiamo però un problema, che ancora non siamo in grado di risolvere. Questi thread eseguono diverse operazioni che, in qualche modo, devono rispettare delle precedenze. Finché si trattava di processi pesanti, un'idea, anche se non bellissima, poteva esssere l'utilizzo dei segnali. Ora che stiamo usando i thread?</p>
<p>Uno dei tipici problemi è la sicronizzazione di due flussi che hanno bisogni di accedere in lettura e in scrittura alla stessa variabile. Il problema, in particolare, è il verificarsi della condizione in cui un flusso di controllo accede a una variabile mentre un secondo flusso di controllo ne sta modificando lo stato/il valore. Questa condizione si chiama <em>data race</em>. Vedremo in questa sezione come evitare questa condizione.</p>
<h2>Sezioni critiche</h2>
<p><em>def.</em> Si dice <strong>sezione critica</strong> o <strong>regione  critica</strong> una regione di codice nella quale i thread possono accedere in scrittura a entità comuni.</p>
<p>In altre parole una sezione critica è una regione di codice nella quale più processi competono per l'uso di risorse comuni</p>
<p>I problemi nelle sezioni critiche potrebbero essere evitati se</p>
<ul>
<li>non si avessero mai più di un processo/thread nella stessa SC;</li>
<li>quando un processo/thread è in esecuzione nella sua SC, nessun altro processo/thread potesse fare altrettanto;</li>
<li>il codice nella SC fosse eseguito da un singolo processo/thread alla volta;</li>
<li>l'esecuzione del codice nella SC fosse effettuato in <strong>mutua esclusione</strong>.</li>
</ul>
<blockquote>
<p><strong>Mutua esclusione</strong>: esclusione che fa bene a tutti (<em>mutua</em>).</p>
</blockquote>
<h3>Soluzione</h3>
<p>Occorre definire un protocollo di accesso per forzare la mutua esclusione per ciascuna SC. Questo significa che</p>
<ul>
<li>per entrare nella propria SC un processo/thread esegue un codice di prenutazione che deve essere bloccante se un altro thread è in esecuzione;</li>
<li>all'uscita dalla SC un processo esegue un codice di rilascio della sezione occupata che sblocchi gli altri processi in attesa.</li>
</ul>
<p>Il protocollo deve <strong>necessariamente</strong> garantire:</p>
<ul>
<li>mutua esclusione: motivi immediati;</li>
<li>progresso: se un processo è in attesa, al rilascio della sezione, esso deve entrare nella sezione. Bisogna evitare il <strong>deadlock</strong>;</li>
<li>attesa definita: evitare la <strong>starvation</strong>;</li>
<li>simmetria (nel caso generale, per ottimizzazioni specifiche non è sempre possibile/corretta).</li>
</ul>
<h3>Tre tipi di soluzioni</h3>
<h4>I - SW</h4>
<p>La logica dell'algoritmo deve garantire mutua esclusione.</p>
<p>Questo sistema si basa sull'utilizzo delle variabili globali. Analiziamo il caso di due thread concorrenti $T_i$ e $T_j$.</p>
<p>La prima idea è la seguente:</p>
<pre><code class="language-c">// Codice eseguito dal processo/thread i
while(true) {
    while(flag[j]);
    flag[i] = true;
    // SC
    flag[i] = false;
}
</code></pre>
<pre><code class="language-c">// Codice eseguito dal processo/thread j
while(true) {
    while(flag[i]);
    flag[j] = true;
    // SC
    flag[j] = false;
}
</code></pre>
<p>La soluzione però ha un problema fondamentale: non garantisce la mutua esclusione. Possiamo poi anche considerare il problema secondario della'<strong>attesa attiva</strong>: il ciclo <code>while</code> su cui è bloccato il processo $i$ o $j$ consuma CPU (<em>busy waiting</em>, <em>spin lock</em>).</p>
<p>La seconda idea è la seguente:</p>
<pre><code class="language-c">// Codice eseguito dal processo/thread i
while(true) {
    flag[i] = true;
    while(flag[j]);
    // SC
    flag[i] = false;
}
</code></pre>
<pre><code class="language-c">// Codice eseguito dal processo/thread j
while(true) {
    flag[j] = true;
    while(flag[i]);
    // SC
    flag[j] = false;
}
</code></pre>
<p>La soluzione però ha di nuovo un problema fondamentale: non garantisce il progresso (e siamo sempre in <em>busy lock</em>).</p>
<p>La terza idea è la seguente:</p>
<pre><code class="language-c">// Codice eseguito dal processo/thread i
while(true) {
    while(turn != i);
    // SC
    turno = j;
}
</code></pre>
<pre><code class="language-c">// Codice eseguito dal processo/thread j
while(true) {
    while(turn != j);
    // SC
    turno = i;
}
</code></pre>
<p>Ora non è garantita l'attesa definita. Questo perché se $x$ non entra nella sezione critica, non imposterà neanche il turno a $y$.</p>
<p>La quarta idea è la seguente:</p>
<pre><code class="language-c">// Codice eseguito dal processo/thread i
while(true) {
    flag[i] = true;
    turn = j;
    while(flag[j] &amp;&amp; turn == j);
    // SC
    flag[i] = false;
}
</code></pre>
<pre><code class="language-c">// Codice eseguito dal processo/thread j
while(true) {
    flag[j] = true;
    turn = i;
    while(flag[i] &amp;&amp; turn == i);
    // SC
    flag[j] = false;
}
</code></pre>
<p>Questa volta funziona, ed è una combinazione delle soluzioni precedenti.</p>
<h4>II - HW</h4>
<p>L'hardware deve garantire che certe operazioni (eventualmente complesse) siano eseguite in modo atomico.</p>
<p>Iniziamo distinguendo due casi:</p>
<ol>
<li>soluzioni per sistemi che <strong>non</strong> permettono il diritto di <strong>prelazione</strong>;</li>
<li>suluzioni per sistemi che lo permettono:
<ul>
<li>gestione delle interruzioni;</li>
<li>estensione delle soluzioni SW basate su:
<ul>
<li>un qualche tipo di lock;</li>
<li>un qualche tipo di istruzione atomica.</li>
</ul>
</li>
</ul>
</li>
</ol>
<p>La prima idea è di disabilitare gli interrupt all'entrata nella sezione critica e di riabilitarli alla fine in modo tale da non essere interrotti. La qual cosa è pericolosa. In particolare, nei sistemi multi-processore non è ben chiaro cosa significhi disabilitare le interruzioni.</p>
<p>La seconda idea è di utilizzare dei lock che possono essere bloccati o sbloccati in modo atomico. Il valore del lock permette l'accesso, oppure lo vieta proteggendo la risosrsa da accessi multipli.</p>
<blockquote>
<p>Istruzione atomica: eseguita in un unico memory cycle, deve permetter la modifica contestuale di una variabile globale.</p>
</blockquote>
<p>Storicamente, HW diversi hanno offeto soluzioni diverse. Ne studiamo due:</p>
<ul>
<li><strong>Test-And-Set</strong>: imposta e restituisce una variabile di lock globale e agisce in maniera atomica:</li>
</ul>
<pre><code class="language-c">char lock = false;

// Atomic
char TestAndSet(char *lock) {
    char val;
    val = *lock;
    *lock = true;   // Set new lock
    return val;     // Return old lock
}

while(true) {
    while(TestAndSet(&amp;lock));
    SC
    lock = false;

}
</code></pre>
<p>Non evita la <em>starvation</em> e sfrutta un meccanismo di <em>busy wait</em>, ma è un passo avanti.</p>
<ul>
<li><strong>Swap</strong>: scambia due variabili, di cui una di lock globale e agisce in maniera atomica:</li>
</ul>
<pre><code class="language-c">
// Atomic
void Swap(char *v1, char *v2) {
    char tmp;
    tmp = *v1;
    *v1 = *v2;
    *v2 = tmp;
    return;
}

while(true) {
    key = true;
    while(key == true)
        swap(&amp;lock, &amp;key);
    SC
    lock = false;
}
</code></pre>
<p>Non evita la <em>starvation</em> e sfrutta un meccanismo di <em>busy wait</em>, ma è un passo avanti rispetto alle soluzioni SW.</p>
<ul>
<li>Per soddisfare tutte e quattro le condizioni, vediamo la soluzione di Burns (ne esistono anche altre):</li>
</ul>
<pre><code class="language-c">while(true) {
    /* I book in */
    waiting[i] = true; 
    key = true;

    /* Until I'm waiting and key is true */
    while(waiting[i]] &amp;&amp; key) 
        key = TestAndSet(&amp;lock);
    /* I'm not waiting anymore */
    waiting[i] = false;

    SC

    j = (i + 1) % N;
    /* While j is not waiting */
    while((j != i) &amp;&amp; (waiting[j] == false))
        j = (j + 1) % N;

    /* Iteration exited due to either j that is waiting
       or none of the thread that is waiting and j == i */

    /* If none is waiting, set lock to false */
    if(j == i)
        lock = false;
    
    /* If j is waiting, set waiting[j] to false */
    else
        waiting[j] = false;
    
    /* ... */
}
</code></pre>
<p>Notare che si tratta sempre di spin lock.</p>
<blockquote>
<p>Le soluzioni HW hanno comunque una componente software (le funzioni) che viene implementata chiedendo all'hw di non interromperle (per farla semplice). Queste non sono funzioni della libreria C, bensì delle System-Call fornite dal kernel.</p>
</blockquote>
<h4>III - Ad-Hoc - Semafori</h4>
<p>Il SO fornisce istruzioni e strutture dati che il programmatore può utilizzare.</p>
<blockquote>
<p>Le soluzioni HW sono difficili da implementare per il progettista HW.</p>
</blockquote>
<blockquote>
<p>Le soluzioni SW sono difficili da impllementare per il progettista SW</p>
</blockquote>
<p>Introduciamo i <strong>semafori operativi</strong>:</p>
<p><em>def.</em> Un semaforo $S$ è:</p>
<ul>
<li>una variabile intera condivisa;</li>
<li>un'entità protetta dal SO;</li>
<li>utilizzabile per inviare e ricevere segnali.</li>
</ul>
<p>Le operazioni eseguite sui semafori sono sempre eseguite in maniera atomica:</p>
<ul>
<li>l'atomicità è garantita dal SO;</li>
<li>è impossibile per processi diversi manipolare contemporaneamente lo stesso semaforo;</li>
<li>le istruzioni che manipolano un semaforo non sono mai eseguite in maniera inter-allacciata.</li>
</ul>
<p>Per gestire i semafori esistono diverse librerie (ne vedremo alcune) che mettono a disposizione al meno quattro operazioni:</p>
<ul>
<li><code>init(S, k)</code>: definisce il semaforo <code>S</code>;</li>
<li><code>wait(S)</code>: permette l'accesso alla SC attraverso un semaforo;</li>
<li><code>signal(S)</code>: segnala a chi sta eseguendo wait che un thread è uscito dalla SC.</li>
<li><code>destroy(S)</code>: cancella/libera il semaforo <code>S</code>.</li>
</ul>
<h2>Primitiva di manipolazione dei semafori operativi</h2>
<h3><code>init</code></h3>
<blockquote>
<p>Definisce e inizializza <code>S</code></p>
</blockquote>
<p>Esistono due tipi di semafori:</p>
<ul>
<li>binari, <em>mutex</em>: valgono <code>0</code> o <code>1</code>;</li>
<li>non binari, con conteggio: $S \in [0, k]$.</li>
</ul>
<pre><code class="language-c">init(S, k) {
    alloc S (global var);
    S = k;
}
</code></pre>
<h3><code>wait</code></h3>
<blockquote>
<p>Probeer te verlagen...<br />
Se il valore di <code>S</code> è <code>&lt; 0</code> o nullo, blocca il chiamante.</p>
</blockquote>
<p>Decrementa il semaforo. Se <code>S &lt; 0</code>, <code>abs(S)</code> indica il numero di processi in attesa.</p>
<pre><code class="language-c">wait(S) {
    while(S &lt;= 0);
    --S;
}
</code></pre>
<h3><code>signal</code></h3>
<blockquote>
<p>Verhogen!</p>
</blockquote>
<p>Incrementa <code>S</code>. Se <code>S</code> era negativo o nullo un qualche $P$ o $T$ era in attesa e ora può accedere.</p>
<pre><code class="language-c">wait(S) {
    ++S;
}
</code></pre>
<h3><code>destroy</code></h3>
<p>Rilascia la memoria dedicata alla variabile semaforica <code>S</code>.</p>
<h3>Esempio di utilizzo</h3>
<pre><code class="language-c">init(S, 1);
</code></pre>
<pre><code class="language-c">while(true) {
    wait(S);

    /* SC */

    signal(S);
    
    /* ... */
}
</code></pre>
<h2>Implementazione di un semaforo / Realistica</h2>
<blockquote>
<p>Volendo evitare Busy Wait</p>
</blockquote>
<p>Defiiamo il semaforo come di seguito:</p>
<pre><code class="language-c">typedef struct {
    int cnt;
    process_t *head;
} sepaphore_t;
</code></pre>
<p>E rivediamo dunque le primitive:</p>
<pre><code class="language-c">void init(semaphore_t S, int k) {
    alloc S;
    S.cnt = k;
    S.head = NULL;
}

void wait(semaphore_t S) {
    S.cnt--;
    if(S.cnt &lt; 0) {
        push P to S.head;
        block P;
    }
}

void signal(semaphore_t S) {
    S.cnt++;
    if(S.cnt &lt;= 0) {
        pop P from S.head;
        wakeup P;
    }
}

void destroy(semaphore_t S) {
    if(S.cnt &lt;= 0) {
        free S.head;
        S.cnt++;
    }
}
</code></pre>
<h2>Implementazione di un semaforo / Reale</h2>
<p>Esistono diverse implementazioni:</p>
<ul>
<li>pipe;</li>
<li>POSIX;</li>
<li>semafori linux;</li>
<li>Pthread:
<ul>
<li>Mutex;</li>
<li>Condition Variable.</li>
</ul>
</li>
</ul>
<p>Si osservi che i semafori sono oggetti globali (§<code>sem_init</code>) e non appartengono a un processo particolare.</p>
<h3>Pipe</h3>
<ul>
<li>Il contatore è realizzato tramite <em>token</em>.</li>
<li>La signal è effettuata tramite write.</li>
<li>La wait è effettuata tramite read.</li>
</ul>
<pre><code class="language-c">void psem_signal(int *S) {
    char ctr = 'X';
    if(write(S[1], ctr, sizeof(char)) == -1) {
        /* Error */
        exit(-1);
    }

    return;
}

void psem_wait(int *S) {
    char ctr = 'X';
    if(read(S[0], ctr, sizeof(char)) == -1) {
        /* Error */
        exit(-1);
    }

    return;
}

void psem_init(int *S, int k) {
    if(pipe(S) == -1) {
        /* Error */
        exit(-1);
    }

    if(k) {
        psem_signal(S);
    }

    return;
}
</code></pre>
<h3>POSIX</h3>
<blockquote>
<pre><code class="language-c">#include &lt;semaphore.h&gt;
</code></pre>
</blockquote>
<ul>
<li><strong>Tipo di dato</strong>: <code>sem_t</code>;</li>
<li>Funzioni:
<ul>
<li><code>sem_init</code>:
<ul>
<li>sem_t *sem: il semaforo;</li>
<li>int pshared: true se il semaforo è condiviso tra più processi;</li>
<li>unsigned int value: k negli esempi.</li>
</ul>
</li>
<li><code>sem_wait</code>: riceve il puntatore al semaforo;</li>
<li><code>sem_traywait</code>: cerca di fare una wait ma non è bloccante;</li>
<li><code>sem_post</code>;</li>
<li><code>sem_getvalue</code>: indica quanti processi sono in attesa;</li>
<li><code>sem_destroy</code>;</li>
</ul>
</li>
</ul>
<h3>PTHREAD MUTEX</h3>
<ul>
<li><strong>Tipo di dato</strong>: <code>pthread_mutex_t</code>;</li>
<li>Funzioni:
<ul>
<li><code>pthread_mutex_init</code>;</li>
<li><code>pthread_mutex_lock</code>;</li>
<li><code>pthread_mutex_trylock</code>;</li>
<li><code>pthread_mutex_unlock</code>;</li>
<li><code>pthread_mutex_destroy</code>;</li>
</ul>
</li>
</ul>
<h2>Problemi tipici di sincronizzazione</h2>
<h3>Produttore-Consumatore</h3>
<p>$n$ thread produce e inserisce in coda, e $m$ thread consumano.</p>
<pre><code class="language-c">/* CASO 1-1 */
init(full, 0);
init(empty, SIZE);

void producer() {
    int val;
    while(true) {
        produce(&amp;val);
        wait(&amp;empty);
        enqueue(val);
        signal(full);
    }
}

void consumer() {
    int val;
    while(true) {
        wait(full);
        dequeue(&amp;val);
        signal(empty);
        consume(val);
    }
}
</code></pre>
<pre><code class="language-c">/* CASO n-m */
init(full, 0);
init(empty, SIZE);
init(prod, 1);
init(cons, 1);

void producer() {
    int val;
    while(true) {
        produce(&amp;val);
        wait(&amp;empty);
        wait(prod);
        enqueue(val);
        signal(full);
        signal(prod);
    }
}

void consumer() {
    int val;
    while(true) {
        wait(full);
        wait(cons);
        dequeue(&amp;val);
        signal(empty);
        signal(cons)
        consume(val);
    }
}
</code></pre>
<h3>Reader-Writers</h3>
<p>Tutti possono leggere, ma solo uno può scrivere.</p>
<h4>Priority Reader</h4>
<pre><code class="language-c">/* Init */
nR = 0;
init(meR, 1);
init(w, 1);
</code></pre>
<pre><code class="language-c">/* Reader */
wait(meR);
++nR;
if(nR == 1)
    wait(w);
signal(meR);

/* ... */
/* read */
/* ... */

wait(meR);
--nR;
if(nR == 0)
    signal(w);

signal(meR);
</code></pre>
<pre><code class="language-c">/* Writer */
wait(w);
/* ... */
/* write */
/* ... */
signal(w);
</code></pre>
<h4>Priority Reader / 2</h4>
<pre><code class="language-c">/* Init */
nR = 0;
init(meR, 1);
init(meW, 1);
init(w, 1);
</code></pre>
<pre><code class="language-c">/* Reader */
wait(meR);
++nR;
if(nR == 1)
    wait(w);
signal(meR);

/* ... */
/* read */
/* ... */

wait(meR);
--nR;
if(nR == 0)
    signal(w);

signal(meR);
</code></pre>
<pre><code class="language-c">/* Writer */
wait(meW);
wait(w);
/* ... */
/* write */
/* ... */
signal(w);
signal(meW);
</code></pre>
<h4>Priority Writer</h4>
<pre><code class="language-c">/* Init */
nR = 0;
nW = 0;
init(meR, 1);
init(meW, 1);
init(w, 1);
init(r, 1);
</code></pre>
<pre><code class="language-c">/* Reader */  
wait(r);      
wait(meR);    
++nR;         
if(nR == 1)   
    wait(w);  
signal(meR);  
signal(r);    

/* ... */     
/* read */    
/* ... */     

wait(meR);    
--nR;         
if(nR == 0)   
    signal(w);
signal(meR);  
</code></pre>
<pre><code class="language-c">/* Writer */
wait(meW);
++nW;
if(nW == 1)
    wait(r);
signal(meW);
signal(w);

/* ... */
/* write */
/* ... */

wait(meW);
--nW;
if(nR == 0)
    signal(r);
signal(meW);
</code></pre>
<h3>Tunnel</h3>
<p>Un tunnel in cui si può passare a senso alternato.</p>
<pre><code class="language-c">wait(s1);
++nLR;
if(nLR == 1)
    wait(busy);
signal(s1);

/* Run L to R */

wait(s1);
--nLR;
if(nLR == 0)
    signal(busy);
signal(s1);
</code></pre>
<pre><code class="language-c">wait(s2);
++nRL;
if(nRL == 1)
    wait(busy);
signal(s2);

/* Run R to L */

wait(s2);
--nRL;
if(nRL == 0)
    signal(busy);
signal(s2);
</code></pre>
<h3>Cinque filosofi</h3>
<pre><code class="language-c">/* Init */
int state[N];
init(mutex, 1);
for(i = 0; i &lt; N; ++i)
    init(sem[i], 0)

void test(int i) {
    if(state[i] == HUNGRY &amp;&amp; 
    state[LEFT] != EATING &amp;&amp; 
    state[RIGHT] != EATING) {
        state[i] = EATING;
        signal(sem[i]);
    }
}

void take_forks(int i) {
    wait(mutex);
    state[i] = HUNGRY;
    test(i);
    signal(mutex);
    wait(sem[i]);
}

void put_forks(int i) {
    wait(mutex);
    state[i] = THINKING;
    test(LEFT);  /* Trying to awake left */
    test(RIGHT); /* Trying to awake right */
    signal(mutex);
}
</code></pre>
