<h1>Il linguaggio AWK</h1>
<h2>First things first</h2>
<p>AWK sepata automaticamente il testo in ingresso in righe e le righe in rihghe; righe e campi vengono automaticamente numerati.</p>
<pre><code class="language-bash">awk [options] command [file1 [file2 [... [fileN]]]]
</code></pre>
<p>Tra le opzioni ricordiamo solo</p>
<pre><code class="language-bash">-v var=val # To set a variable
</code></pre>
<p>Tra i comandi:</p>
<pre><code class="language-bash">awk [options] -f command_file [file 1 ...]
</code></pre>
<p>Generalmente si scrive uno script awk eseguibile sepecificando:</p>
<pre><code class="language-bash">#!/usr/bin/awk -f
</code></pre>
<p><em>def.</em> Le righe si dicono <strong>record</strong>.</p>
<p>La variabile <code>RS</code> determina il carattere <strong>record separator</strong>, generalmente <code>'\n'</code>.</p>
<p><em>def.</em> Un campo di dice <strong>field</strong>.</p>
<p>La variabile <code>FS</code> è la duale di <code>RS</code> per i campi, generalmente è <code>' '</code>.</p>
<p><code>NR</code> contiene il numero di righe, <code>NF</code> il numero di campi, le righe e i campi sono numerate in base $1$.</p>
<p><code>$0</code> indica un record, <code>$1</code>, <code>$2</code>, ..., <code>$n</code> indicano i campi $1$, $2$, $\dots$, $n$.</p>
<h2>I comandi</h2>
<p>I comandi in awk sono nel formato</p>
<pre><code class="language-awk">pattern action
</code></pre>
<p>Se l'azione non è specificata, di default viene eseguito <code>print</code>.</p>
<p><strong>ARGC</strong> contiene il numero di file; <strong>ARGV</strong> i path.</p>
<h3>Condizioni</h3>
<ul>
<li>/regEx/: RegEx sulla riga;</li>
<li>exp: espressione logica singola;</li>
<li>exp1, exp2: coppia di espressioni separate da <code>','</code> che indicano l'intervallo di record che si apre con la prima riga che rende vera l'espressione exp1 e si chiude con la prima riga che rispetta la condizione exp2.</li>
<li>BEGIN: esegue un'azione incondizionatamente;</li>
<li>END: esegue un'operazione al termine della lettura del file.</li>
</ul>
<p>Esempi:</p>
<ul>
<li><code>$2 ~ /foo/</code>: il campo 2 condiene &quot;foo&quot;;</li>
<li><code>$2 == &quot;foo&quot;</code>: il cmapo due 2 è &quot;foo&quot;;</li>
<li><code>$1 == &quot;rm&quot;, $1 == &quot;ls&quot;</code>;</li>
<li><code>/2400/ &amp;&amp; /bar/</code>;</li>
<li><code>!~ /xxx/</code>.</li>
</ul>
<h3>Azioni</h3>
<pre><code class="language-awk"># One liner script which prints all records containing &quot;foo&quot;
awk '$1 ~ /foo/ {print $0}' file.txt
</code></pre>
<pre><code class="language-awk">#!/usr/bin/awk -f

# Print each record containing bar
$1 ~ /bar/ {print $0}

# Increments `n` with the value of $2
$1 ~ /foo/ {n = n + $2}

# Print s `n` after file scan is completed
END {print n}
</code></pre>
<pre><code class="language-awk">#!/usr/bin/awk -f

# To each record containing &quot;foo&quot;:
# - edit $2 -&gt; $2 = $2 - 1
# - print the alterated record
$1 ~ /foo/ {$2 = $2 - 1; print $0}

# To each record containing &quot;bar&quot;:
# - edit $2 -&gt; $2 = $2 + 1
# - print the alterated record
$1 ~ /bar/ {$2 = $2 + 1; print $0}
</code></pre>
<pre><code class="language-awk">#!/usr/bin/awk -F , -f

# If record has two or more fields, field 1 and field 2 are swapped
NF &gt;= 2 {tmp = $1; $1 = $2; $2 = tmp; print $0}
</code></pre>
<h2>Vettori</h2>
<blockquote>
<p>Si tratta di tabelle di hash</p>
</blockquote>
<p>I vettori in AWK sono dichiarati all'assegnazione di un elemento:</p>
<pre><code class="language-awk">arr[i] = v
</code></pre>
<p>Se l'elemento non è assegnato, viene restituito <code>0</code> o <code>&quot;&quot;</code>.</p>
<h2>...</h2>
