<h1>Scheduling</h1>
<h2>Obiettivi della multi progragrammazione</h2>
<p>Uno degli obiettivi della multiprogrammazione, il principale, è quello di massimizzare l'utilizzo delle risorse e in particolare della CPU.</p>
<p>Per raggiungere tale obiettivo ogni CPU viene assegnata a più task (processi, thread):</p>
<ul>
<li>lo sheduler deve decidere quale algoritmo utilizzare per assegnare la CPU ai task;</li>
<li>le pretazioni dello scheduler sono valutate in termini di funzioni di costo;</li>
<li>applicazioni diverse richiedono algoritmi e funzioni di costo differenti.</li>
</ul>
<h2>Procedimento generale</h2>
<ul>
<li>La CPU viene assegnata a un task.</li>
<li>Qualora il processo entri in uno stato di attesa, termni, venga ricevuto un interrupt, ecc. ecc., è necessario effettuare un context switching.</li>
<li>Per ogni context switching:
<ul>
<li>il task in running viene spostato nella coda di ready;</li>
<li>un task nella coda di ready viene spostato allo stato di running.</li>
</ul>
</li>
</ul>
<h2>Funzioni di costo</h2>
<table>
<tr> <td>Funzione di costo</td> <td>Descrizione</td> <td>Ottimo</td> </tr>
<tr> <td>CUP Utilization</td>   <td>% di utilizo della CPU</td> <td>Massimo</td> </tr>
<tr> <td>Throughput</td>        <td>Numero di processi completati pr unità di tempo</td> <td>Massimo</td> </tr>
<tr> <td>Turnaround time</td>   <td>Tempo che trascorre dalla sottomissione al  completamento dell'esecuzione</td> <td>Minimo</td> </tr>
<tr> <td>Waiting time</td>      <td>Tempo totale passato nella coda ready</td> <td>Minimo</td> </tr>
<tr> <td>Resume time</td>       <td>Tempo intercorso tra la sottomissione e la prima risposta prodotta</td> <td>Minimo</td> </tr>
</table>
<h2>Algoritmi</h2>
<p>Possiamo innanzitutto distinguere tra algoritmi che prevedono prelazione e algoritmi che non la prevedono.</p>
<table>
<tr> <td>Senza</td> <td>Con</td> </tr>
<tr> <td>FCFS (First Come First Served)</td>    <td>RR (Round Robin)</td> </tr>
<tr> <td>SJF (Shortest Job First</td>           <td>SRTF (Shortest Remaining First)</td> </tr>
<tr> <td>PS (Prioriy Scheduling)</td>           </tr>
<tr> <td>MQS (Multilevel Queue Scheduling)</td> </tr>
<tr> <td>Resume time</td>                       </tr>
</table>
<p>Gli algoritmi senza prelazione sono generalmente desueti perché possono generare un problema di sicurezza dovuto al fatto che il processo non sia intenzionato a rilasciare la risorsa.</p>
<h3>FCFS</h3>
<p>La CPU è assegnata ai tasc seguendo l'ordine di arrivo. Lo scheduling viene rappresentato attraverso i diagrammi di Gantt.</p>
<blockquote>
<p>Penalizza i processi brevi</p>
</blockquote>
<h3>SJF</h3>
<p>Ottimo se si utilizza il tempo di attesa come criterio.</p>
<p>Diccicile da appicare.</p>
<p>$$
\tau_{n + 1} = \alpha t_n + (1 + \alpha)\tau_n.
$$</p>
<p>Ha il difetto di stimare la richiesta successiva in modo impreciso.</p>
<h3>PS</h3>
<p>A ogni processo viene associata una priorità:</p>
<ul>
<li>generalmente è realizzata con un nomero intero;</li>
<li>minore il numero maggiore la priorità;</li>
<li>determinate in base al criterio.</li>
</ul>
<p>In un certo senso è simile a SJF, in quanto a seconda di un certo valore, sceglie quale task eseguire per primo.</p>
<p>Può causare starvation. PEr risolvere, si può intervenire sull'aging: maggiore è il tempo di attesa di un processo, maggiore diventa la priorità.</p>
<h3>RR</h3>
<blockquote>
<p>Round Robin (non <em>Red Ribbon</em>), o Scheduling Circolare</p>
</blockquote>
<p>Questo è un algoritmo che si può intendere come FCFS con prelazione.</p>
<div align="center">
    <img src="src/i11.svg" />
</div>
<p>L'utilizzo della CPU viene suddivisa in <strong>time quantuum</strong>, ogni task riceve la CPU per un tempo massimo pari al quantum e poi viene inserito nuovamente nella ready queue.</p>
<blockquote>
<p>Progettato appositamente per sistemi real time sharing e real time.</p>
</blockquote>
<h3>SRTF</h3>
<p>Si tratta di SJF con prelazione.</p>
<p>Divide il tempo della CPU in <em>time quantum</em> ma non assegna la CPU al task arrivato prima, bensì al task che ha il tempo di esecuzione rimanente più corto.</p>
<h3>MQS</h3>
<p>Applicato a situazioni in cui i task possono essere classificati in gruppi diversi:</p>
<ul>
<li>foreground;</li>
<li>background;</li>
<li>di sistema;</li>
<li>ecc..</li>
</ul>
<p>Disverse code sono gestite con algoritmi diversi. Per esempio ogni coda potrebbe avere quantum temporali differenti.</p>
<h3>Considerazioni aggiuntive</h3>
<p>Ci siamo occupati di processori monoprocessore, facciamo giusto un paio di considerazioni sui sistemi multiprocessori.</p>
<p>Su sistemi multiprocessori olte all'assegnazione della CPU è necessario tener conto del fatto che essendo presenti più CPU, è possibile eseguire un bilanciamento del carico. Questo bilanciamento potrebbe poi essere simmetrico o asimettrico.</p>
<p>Facciamo anche un'ulteriore considerazione sullo scheduling in generale: non esiste solo quello dei processi, ma anche quello dei thread. Ci possono essere casi in cui i thread sono schedulati a livello kernel e casi in cui i thread sono schedulati a livello utente senza che il kernel sappia anche solo che esistono.</p>
<p>Ricordiamo poi che non si tratta mai di applicazioni real-time, ma di applicazioni per cui i thread danno risposte in termini ragionevoli ma — di fatto — senza garanzie.</p>
<h1>Stallo</h1>
<p>Esistono quattro condizioni necessarie ma non sufficienti per il verificarsi di un deadlock:</p>
<table>
<tr> <td>Codizioni</td>                   <td>Descrizione</td> </tr>
<tr> <td>Mutua Esclusione</td>            <td>Deve esserci almeno un risorsa non condivisibile.</td> </tr>
<tr> <td>Possesso e attesa</td>           <td>Un processo mantiene almeno una risorsa e attende per aquisire almeno un'altra risorsa.</td> </tr>
<tr> <td>Impossibilità di prelazione</td> <td>Non esiste il diritto di prelazione per almeno iuna risorsa. Almeno una risorsa non può essere sottratta ma solo rilasciata da chi la utilizza.</td> </tr>
<tr> <td>Attesa circolare</td>            <td>Esiste un insieme $\{P_1, \dots, P_n\} di $P$ tali che $P_1$ attende una risorsa tenuta da $P_2$, $P_2$ attende una risorsa trattenuta da £P_3$, $\dots$, $P_n$, attende una risorsa trattenuta da $P_1$.</td> </tr>
</table>
<h2>Modellizzazione del deadlock</h2>
<p>Prima di pensare a come gestire il deadlock, cerchiamo di modellizzarlo.</p>
<p>Introduciamo il grafo di allocazione (o assegnazione) delle risorse:</p>
<ul>
<li>$G = (V, E)$;</li>
<li>pernette di descrivere e analizzare il deadlock.</li>
</ul>
<p>L'insieme dei vertici $V$ è suddiviso in:</p>
<ul>
<li>$P = P_1, P_2, \dots, P_n$
<ul>
<li>insieme dei processi del sistema ($n$ in tutto);</li>
<li>i processi sono indistinguibili e in numero indefinito;</li>
<li>ogni processo utilizza una risorsa facendone accesso mediante protocollo standard costituito da:
<ul>
<li>richiesta;</li>
<li>utilizzo;</li>
<li>rilascio.</li>
</ul>
</li>
</ul>
</li>
<li>$R$
<ul>
<li>insieme delle richieste.</li>
</ul>
</li>
<li>$V$
<ul>
<li>vertici di richiesta di una risorsa: $V_x$ da $P_y$ a $R_z$, cioè il processo che richiede la risorsa;</li>
<li>vertici di assegnazione delle risorse: $V_x$ da $R_y$ a $P_z$, cioè la risorsa che è stata assegnata al processo.</li>
</ul>
</li>
</ul>
<h2>Come gestire il deadlock</h2>
<h3>Strategia dello struzzo</h3>
<blockquote>
<p>Si ignora il problema</p>
</blockquote>
<h3>A posteriori</h3>
<blockquote>
<p>Rilevare, ripristinare</p>
</blockquote>
<p>La rilevazione è facile se si modellizza con i grafi. Il deadlock è dato dai cicli su risorse con istane unitarie e potrebbe essere dato da cicli su risorse con istanze non unitarie.</p>
<p>Chiaramente la visita di un grafo ha un costo.</p>
<p>Opzioni:</p>
<ul>
<li>terminare tutti i processi;</li>
<li>terminare un processo alla volta tra quelli in stallo;</li>
<li>prelazionare le risorse a un processo alla volta tra quelli in stallo.</li>
</ul>
<p>La cosa non è semplice ed è anche onerosa in termini di tempo.</p>
<h3>A priori</h3>
<blockquote>
<p>Prevenire, evitare</p>
</blockquote>
<p>Dati gli svantaggi delle tecniche a posteriori, nascono delle tecniche preventive che tendono a prevenire il deadlock.</p>
<h4>Prevenire: Hierarchical Resource Usage(HRU)</h4>
<p>Impone una relazione di ordinamento totale tra i vari tipi di risorse, associando a ciascuno di essiun numero intero. Esempio: HD = 1, DVD = 5, stampanti  = 12•Forza ogni processo a richiedere le risorse con un ordine crescente di enumerazioneIn generale la verifica HRU sia applicato può essereeffettuata dal•Programmatore•Sistema operativo. Il tool “witness”, disponibile inUNIX versione FreeBSD, controlla l’ordine dei lock effettuati dai processi.</p>
<p>È possibile dimostrare che questa condizione è sufficiente per garantire l'impossibilità dell'attesa circolare.</p>
<h4>Evitare</h4>
<p>Le tecnice per <strong>evitare</strong> condizioni di stallo dorzano i processi a fornire (a priori) informazioni aggiuntive sulle richieste che effettuano nel corso della loro esistenza: ogni processo deve indicare quali risorse di ogni tipo saranno necessarie per terminare il suo compito. Tali informazioni permetteranno di schedulare i processi in modo che non si verifichino deadlock; se l'esecuzione di un processo può causare deadlock, essa viene ritardata.</p>
<h4>Lo stato sicuro</h4>
<p>Si dice che lo stato è sicuro se esiste una sequnza di schedulazione sicura dei processi tale che per ogni $P_i$, le richieste che esso può ancora effettuare possono essere soddisfatte impiegando le risorse attualmente disponibili più le risorse liberate dai processi $Pj$, con $j &lt; i$</p>
<p>Notare che lo <em>stato non sicuro</em> non conduce necessariamente allo stallo.</p>
<h4>Strategia</h4>
<p>Per evitare uno stallo ci si assicura che il sistema non entri mai in uno stato insicuro. All'inizio sicuramente non lo è; ogni nuova richiesta di risorse verrà soddisfatta s.se soddisfa le condizioni per mantenere il sistema in uno stato sicuro. Se la richiesta non rispetta queste condizioni, viene messo in attesa il processo che l'ha generata.</p>
<ul>
<li>risorse con istanza singola: tutte le richieste che saranno effettuate devono essere dichiarate a priori, ovvero all'inizio dell'esecuzione; nel momento in cui una richiesta viene effettuata il corrispondente arco di richiesta dovrebbe essere trasformato iin arco d assegnazione (prima di fare questo si verifica che tale trasformazione non dia luogo a cicli).</li>
<li>risorse con istanza multipla: vedere algoritmo del banchiere @ L30. Complessità: $O(m \cdot n^2) = O(|R| \cdot |P|^2$.</li>
</ul>
<p>Si noti che questo sistema non è basato su ipotesi totalmente realistiche:</p>
<ul>
<li>i processi devono indicare le richieste in anticipo;</li>
<li>suppone che le risorse siano in numero costante;</li>
<li>richiede unna popolazione fissa di processi.</li>
</ul>
<blockquote>
<p>Se si va in deadlock si sta in deadlock, generalmente i SO non agiscono in modo automatico. Questo perché per uscire dal deadlock bisogna in qualche modo distruggere i processi.
L'utente può secegliere come sia meglio agire.</p>
</blockquote>
